Flows/Raspi-SenseHAT/Tab1-SendIotF.json
[{"id":"c94b55eb.aeda68","type":"comment","z":"b87e0bde.5c0f68","name":"TJBot-OH - Send IoTF ","info":"","x":122,"y":60,"wires":[]},{"id":"62781fdf.2aedd","type":"rpi-sensehat in","z":"b87e0bde.5c0f68","name":"Environment","motion":false,"env":true,"stick":false,"x":87,"y":158,"wires":[["1a71246a.39e13c","560eae8.610615"]]},{"id":"1a71246a.39e13c","type":"debug","z":"b87e0bde.5c0f68","name":"","active":false,"console":"false","complete":"false","x":311,"y":113,"wires":[]},{"id":"560eae8.610615","type":"function","z":"b87e0bde.5c0f68","name":"Set IoTF TempHumPres","func":"//var pres = msg.payload.pressure * 0.001;\n// pres = parseInt(pres.toFixed(2));\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : \"grovepi-1\",\n            \"sensor\" : \"temphum\",\n            \"timestamp\" : new Date(),\n            \"temperature\":msg.payload.temperature,\n            \"humidity\": msg.payload.humidity,\n            \"pressure\" : msg.payload.pressure\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":158,"wires":[["46ac219d.3fc66"]]},{"id":"46ac219d.3fc66","type":"wiotp out","z":"b87e0bde.5c0f68","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"2921887c.830668","deviceType":"","deviceId":"","event":"event","format":"json","name":"Send IoTF ","x":585,"y":158,"wires":[]},{"id":"a04d34bb.edc468","type":"rpi-sensehat in","z":"b87e0bde.5c0f68","name":"Motion","motion":true,"env":false,"stick":false,"x":76,"y":572,"wires":[["623e5129.c0c3a"]]},{"id":"db51b22d.fc7bb","type":"rpi-sensehat in","z":"b87e0bde.5c0f68","name":"Joystick","motion":false,"env":false,"stick":true,"x":70,"y":300,"wires":[["3187092a.5a8076","c63691a6.4cf0a"]]},{"id":"ae7ca8c8.089448","type":"debug","z":"b87e0bde.5c0f68","name":"","active":true,"console":"false","complete":"false","x":732,"y":518,"wires":[]},{"id":"3187092a.5a8076","type":"debug","z":"b87e0bde.5c0f68","name":"","active":true,"console":"false","complete":"false","x":290,"y":251,"wires":[]},{"id":"c63691a6.4cf0a","type":"function","z":"b87e0bde.5c0f68","name":"Set IoTF Joystick","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-1\",\n            \"sensor\" : \"joystick\",\n            \"timestamp\" : new Date(),\n            \"key\":msg.payload.key,\n            \"state\" : msg.payload.state\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":299,"wires":[["5c14b735.6ecd48"]]},{"id":"5c14b735.6ecd48","type":"wiotp out","z":"b87e0bde.5c0f68","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"2921887c.830668","deviceType":"","deviceId":"","event":"event","format":"json","name":"Send IoTF ","x":511,"y":299,"wires":[]},{"id":"4056081.6e83cf8","type":"function","z":"b87e0bde.5c0f68","name":"Set IoTF Motion","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-1\",\n            \"sensor\" : \"motion\",\n            \"timestamp\" : new Date(),\n            \"acceleration\":msg.payload.acceleration,\n            \"gyroscope\":msg.payload.gyroscope,\n            \"orientation\":msg.payload.orientation,\n            \"compass\":msg.payload.compass\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":524,"y":572,"wires":[["85707b76.375ae8","ae7ca8c8.089448"]]},{"id":"85707b76.375ae8","type":"wiotp out","z":"b87e0bde.5c0f68","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"2921887c.830668","deviceType":"","deviceId":"","event":"event","format":"json","name":"Send IoTF ","x":731,"y":572,"wires":[]},{"id":"91935b1.f927aa8","type":"inject","z":"b87e0bde.5c0f68","name":"ON","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":96,"y":431,"wires":[["b319379.252c3c8"]]},{"id":"2a737aa.edd1686","type":"inject","z":"b87e0bde.5c0f68","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":96,"y":471,"wires":[["b319379.252c3c8"]]},{"id":"52c9b165.21c4c","type":"debug","z":"b87e0bde.5c0f68","name":"","active":false,"console":"false","complete":"false","x":516,"y":451,"wires":[]},{"id":"b319379.252c3c8","type":"change","z":"b87e0bde.5c0f68","name":"Enable / Disable Motion","rules":[{"t":"set","p":"motion-start-stop","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":296,"y":451,"wires":[["52c9b165.21c4c"]]},{"id":"623e5129.c0c3a","type":"switch","z":"b87e0bde.5c0f68","name":"Is motion enabled?","property":"motion-start-stop","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":290,"y":572,"wires":[["4056081.6e83cf8"]]},{"id":"2880ffaa.2865","type":"comment","z":"b87e0bde.5c0f68","name":"Motion is disabled on startup","info":"","x":142,"y":387,"wires":[]},{"id":"2921887c.830668","type":"wiotp-credentials","z":"","name":"Send IoTF","org":"jg3kp3","devType":"tjbot","devId":"tjbot-oh"}]