Flows/Raspi-SenseHAT/Tab2-receiveIoTF.json
[{"id":"df4bd2a8.9588b","type":"wiotp in","z":"8e1d30e1.e4c17","authType":"d","deviceKey":"a317c038.02d38","deviceType":"","deviceId":"","command":"set-lcd","commandType":"g","name":"IoTF Set-Lcd","x":83,"y":183.5,"wires":[["6564101b.913e","76ece1a6.f86cb"]]},{"id":"46bda1f7.2611b","type":"comment","z":"8e1d30e1.e4c17","name":"TJBot-OH - Receive IoTF ","info":"","x":125,"y":41,"wires":[]},{"id":"6564101b.913e","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"false","x":296,"y":120,"wires":[]},{"id":"76ece1a6.f86cb","type":"change","z":"8e1d30e1.e4c17","name":"Save msg","rules":[{"t":"set","p":"orig","pt":"msg","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":391.5,"y":182.5,"wires":[["323d4f4b.c43a"]]},{"id":"323d4f4b.c43a","type":"switch","z":"8e1d30e1.e4c17","name":"Which cmd","property":"payload.d.cmd","propertyType":"msg","rules":[{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"Restore","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":452.4999084472656,"y":258.5,"wires":[["a6d901e1.cbf9b"],["67de19e4.d24638"],["cb54da18.57b1c8"]]},{"id":"a6d901e1.cbf9b","type":"change","z":"8e1d30e1.e4c17","name":"Save into lastlcd","rules":[{"t":"set","p":"lastlcd","pt":"flow","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":648.2333984375,"y":200.36666870117188,"wires":[["cb54da18.57b1c8"]]},{"id":"67de19e4.d24638","type":"switch","z":"8e1d30e1.e4c17","name":"lastlcd exists","property":"lastlcd","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":637.2333984375,"y":257.76666259765625,"wires":[["6aaeca19.91db04"],["cb54da18.57b1c8"]]},{"id":"cb54da18.57b1c8","type":"function","z":"8e1d30e1.e4c17","name":"Set LCD","func":"var sText = \"R90\\n\" + msg.orig.text;\n\n// msg.background = \"blue\";\nmsg.speed = 5;\nmsg.color = msg.orig.rgb[0] + \",\" + msg.orig.rgb[1] + \",\" + msg.orig.rgb[2];\nmsg.payload = sText; \n\nreturn msg;","outputs":1,"noerr":0,"x":839.2333984375,"y":332.23333740234375,"wires":[["6fb74498.af15ac","a77afb4f.d4ee08"]]},{"id":"6aaeca19.91db04","type":"change","z":"8e1d30e1.e4c17","name":"Restore lastlcd","rules":[{"t":"set","p":"orig","pt":"msg","to":"lastlcd","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":857.2333984375,"y":227.16668701171875,"wires":[["cb54da18.57b1c8"]]},{"id":"6fb74498.af15ac","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"true","x":1016.2333984375,"y":278.5666809082031,"wires":[]},{"id":"a77afb4f.d4ee08","type":"rpi-sensehat out","z":"8e1d30e1.e4c17","name":"Output LCD","x":1033,"y":332,"wires":[]},{"id":"320b0a48.9ba886","type":"wiotp in","z":"8e1d30e1.e4c17","authType":"d","deviceKey":"72749d9.b9da964","deviceType":"","deviceId":"","command":"speak","commandType":"g","name":"IoTF speak","x":79,"y":531.7666931152344,"wires":[["23adf212.f8ed5e","2000b6a4.5a6c6a"]]},{"id":"23adf212.f8ed5e","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"true","x":272.6333312988281,"y":481.8666687011719,"wires":[]},{"id":"2000b6a4.5a6c6a","type":"function","z":"8e1d30e1.e4c17","name":"Save msg","func":"msg.orig = msg.payload.d;\n\nmsg.lightr = msg.payload.d.lightr;\nmsg.lightg = msg.payload.d.lightg;\nmsg.lightb = msg.payload.d.lightb;\nmsg.srclang = msg.payload.d.srclang;\nmsg.destlang = msg.payload.d.destlang;\nmsg.sentiment = msg.payload.d.sentiment;\n\nmsg.payload = msg.payload.d.speak; \n\nreturn msg;","outputs":1,"noerr":0,"x":269.6333312988281,"y":531.3667907714844,"wires":[["89b08966.7c46e8"]]},{"id":"89b08966.7c46e8","type":"switch","z":"8e1d30e1.e4c17","name":"Translate?","property":"srclang","propertyType":"msg","rules":[{"t":"neq","v":"destlang","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":300.6333312988281,"y":609.3667297363281,"wires":[["b81814af.1b8588"],["643dc0b3.654b9"]]},{"id":"b81814af.1b8588","type":"watson-translator","z":"8e1d30e1.e4c17","name":"Translator","action":"translate","basemodel":"ar-en","domain":"news","srclang":"de","destlang":"en","password":"WALsqbHsh3RW","custom":"","domainhidden":"news","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":475.2666320800781,"y":553,"wires":[["643dc0b3.654b9","24419912.724766"]]},{"id":"643dc0b3.654b9","type":"function","z":"8e1d30e1.e4c17","name":"set text2speach","func":"if (msg.orig) {\n    if (msg.orig.voice) {\n        msg.voice = msg.orig.voice;\n    } else {\n        if (msg.destlang == \"en\" ) { msg.voice = \"en-GB_KateVoice\" }\n        if (msg.destlang == \"es\" ) { msg.voice = \"es-ES_LauraVoice\" }\n        if (msg.destlang == \"de\" ) { msg.voice = \"de-DE_BirgitVoice\"}\n        if (msg.destlang == \"fr\" ) { msg.voice = \"fr-FR_ReneeVoice\"}\n        if (msg.destlang == \"it\" ) { msg.voice = \"it-IT_FrancescaVoice\"}\n        if (msg.destlang == \"pt\" ) { msg.voice = \"pt-BR_IsabelaVoice\"}\n    } \n} else {\n    if (msg.destlang == \"en\" ) { msg.voice = \"en-GB_KateVoice\" }\n    if (msg.destlang == \"es\" ) { msg.voice = \"es-ES_LauraVoice\" }\n    if (msg.destlang == \"de\" ) { msg.voice = \"de-DE_BirgitVoice\"}\n    if (msg.destlang == \"fr\" ) { msg.voice = \"fr-FR_ReneeVoice\"}\n    if (msg.destlang == \"it\" ) { msg.voice = \"it-IT_FrancescaVoice\"}\n    if (msg.destlang == \"pt\" ) { msg.voice = \"pt-BR_IsabelaVoice\"}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":689.6333312988281,"y":615.8667297363281,"wires":[["a5bb7a64.2954c8","a3e34491.9437d8"]]},{"id":"24419912.724766","type":"debug","z":"8e1d30e1.e4c17","name":"Translation","active":true,"console":"false","complete":"translation","x":683.6333312988281,"y":552.8667907714844,"wires":[]},{"id":"fb06c58e.b0a758","type":"function","z":"8e1d30e1.e4c17","name":"Set","func":"msg.payload = \"Dies ist ein Test\";\nmsg.srclang = \"de\";\nmsg.destlang =\"en\";\n\nmsg.lightg = \"255\";\nmsg.lightr = \"0\";\nmsg.lightb = \"0\";\n\nmsg.sentiment = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":277.2666320800781,"y":432,"wires":[["b81814af.1b8588"]]},{"id":"a5bb7a64.2954c8","type":"watson-text-to-speech","z":"8e1d30e1.e4c17","name":"Text2Speach","lang":"de-DE","langhidden":"de-DE","langcustomhidden":"","voice":"de-DE_BirgitVoice","voicehidden":"","format":"audio/wav","password":"pjaxyNAONb3n","x":695.2666320800781,"y":698,"wires":[["bfcb6958.4542e8","e585eb03.a1b9c8"]]},{"id":"2f7c2efd.975f82","type":"inject","z":"8e1d30e1.e4c17","name":"Test","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":97.26663208007812,"y":432,"wires":[["fb06c58e.b0a758"]]},{"id":"5def5649.614d98","type":"inject","z":"8e1d30e1.e4c17","name":"Test ","topic":"","payload":"Dies ist ein Test","payloadType":"str","repeat":"","crontab":"","once":false,"x":469.6333312988281,"y":698.36669921875,"wires":[["a5bb7a64.2954c8"]]},{"id":"bfcb6958.4542e8","type":"speakerpi-output","z":"8e1d30e1.e4c17","choose":"filebased","channels":"1","bitdepth":"8","samplerate":"22050","name":"Raspi Speaker","x":923.6333312988281,"y":698.3667297363281,"wires":[]},{"id":"e585eb03.a1b9c8","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"payload","x":914.6333312988281,"y":648.8667297363281,"wires":[]},{"id":"13e269d0.401a56","type":"wiotp in","z":"8e1d30e1.e4c17","authType":"d","deviceKey":"e6d96fd2.74d34","deviceType":"","deviceId":"","command":"get-image","commandType":"g","name":"IoTF Get-Image","x":100,"y":848,"wires":[["b76c362d.8e7778","cf9ff1f.390df1"]]},{"id":"b76c362d.8e7778","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"false","x":296,"y":804.7999267578125,"wires":[]},{"id":"cf9ff1f.390df1","type":"camerapi-takephoto","z":"8e1d30e1.e4c17","filemode":"1","filename":"tjbot.jpg","filedefpath":"1","filepath":"/home/pi/images/","fileformat":"jpeg","resolution":"1","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Photo","x":295,"y":848,"wires":[["9acf28b6.80fc08"]]},{"id":"9acf28b6.80fc08","type":"os-put","z":"8e1d30e1.e4c17","name":"Put the Photo","container":"Pictures","objectname":"","objectmode":"0","imageformat":"jpeg","audioformat":"wav","filepath":"/home/pi/Pictures/","filename":"tjbot.jpg","formattype":"0","mode":"0","osconfig":"f4fa1003.c5d35","x":313,"y":905,"wires":[["96cc918.f494d7","bdb3f521.366a98"]]},{"id":"96cc918.f494d7","type":"function","z":"8e1d30e1.e4c17","name":"set url","func":"msg.payload = msg.url;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":957.5,"wires":[["68ffb169.6179f"]]},{"id":"bdb3f521.366a98","type":"debug","z":"8e1d30e1.e4c17","name":"","active":false,"console":"false","complete":"true","x":487,"y":877,"wires":[]},{"id":"68ffb169.6179f","type":"visual-recognition-v3","z":"8e1d30e1.e4c17","name":"Detect Faces","apikey":"46bd0eed187ec73b4ea37d459932a16e3ddd3d54","image-feature":"detectFaces","x":467,"y":957.5,"wires":[["d42a8bc9.859ec8","e5ff4ce9.5b299"]]},{"id":"d42a8bc9.859ec8","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"true","x":646,"y":910,"wires":[]},{"id":"e5ff4ce9.5b299","type":"function","z":"8e1d30e1.e4c17","name":"Set IoTF image","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-1\",\n            \"sensor\" : \"image\",\n            \"timestamp\" : new Date(),\n            \"url\": msg.url,\n            \"gender\": \"unknown\",\n            \"age\" : 999\n        }\n    }; \n\n// set the gender and the age from the picture    \nif (msg.result.images.length >= 0) {\n    if (msg.result.images[0].faces.length > 0) {\n        sensor.d.gender = msg.result.images[0].faces[0].gender.gender + \"(\" + msg.result.images[0].faces[0].gender.score + \")\";\n        sensor.d.age = msg.result.images[0].faces[0].age.max;\n    }\n}\n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":672,"y":957,"wires":[["724ac25a.61ac2c","4cd41569.8801cc"]]},{"id":"724ac25a.61ac2c","type":"wiotp out","z":"8e1d30e1.e4c17","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e6d96fd2.74d34","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":863,"y":956,"wires":[]},{"id":"4cd41569.8801cc","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"false","x":869,"y":907,"wires":[]},{"id":"7fede844.ddb7b8","type":"wiotp in","z":"8e1d30e1.e4c17","authType":"d","deviceKey":"57482903.4ac038","deviceType":"","deviceId":"","command":"get-text","commandType":"g","name":"IoTF Get-Text","x":90,"y":1126,"wires":[["3d6057e9.22ca08","402f28b.b61bad8"]]},{"id":"3d6057e9.22ca08","type":"function","z":"8e1d30e1.e4c17","name":"Start or Stop ","func":"if (msg.payload.d.cmd == \"start\") {\n    msg.payload = true;    \n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":278,"y":1126,"wires":[["5f9916d0.495208"]]},{"id":"402f28b.b61bad8","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"false","x":282,"y":1075,"wires":[]},{"id":"5f9916d0.495208","type":"microPi","z":"8e1d30e1.e4c17","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"5","debug":"false","mode":"666","x":444,"y":1125.5,"wires":[[],["a1de748b.a33828","b49b432a.3c3aa"],[]]},{"id":"a1de748b.a33828","type":"watson-speech-to-text","z":"8e1d30e1.e4c17","name":"Speech to Text","continuous":true,"speakerlabels":false,"lang":"en-UK","langhidden":"en-UK","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"UDDuBuwU3BLT","x":655,"y":1126,"wires":[["5c556279.5151fc","6d8bce7f.0ece9"]]},{"id":"b49b432a.3c3aa","type":"delay","z":"8e1d30e1.e4c17","name":"Wait","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":625,"y":1182,"wires":[["c6cc229.69a11e"]]},{"id":"5c556279.5151fc","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"transcription","x":905,"y":1065,"wires":[]},{"id":"6d8bce7f.0ece9","type":"function","z":"8e1d30e1.e4c17","name":"Set IoTF microphone","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-1\",\n            \"sensor\" : \"microphone\",\n            \"timestamp\" : new Date(),\n            \"text\": \"Dies ist eine wunderbare Mikrofon aufnahme!!\"\n        }\n    }; \n\nsensor.d.text = msg.transcription;\n\nmsg.payload = JSON.stringify(sensor);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":913,"y":1126,"wires":[["8ad55251.3be","e379b13f.4183b"]]},{"id":"c6cc229.69a11e","type":"speakerpi-output","z":"8e1d30e1.e4c17","choose":"givenfile","filename":"/home/pi/audio/demo.wav","channels":"1","bitdepth":"8","samplerate":"22050","name":"Spoken file","x":801,"y":1182,"wires":[]},{"id":"8ad55251.3be","type":"wiotp out","z":"8e1d30e1.e4c17","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"57482903.4ac038","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":1154,"y":1125,"wires":[]},{"id":"e379b13f.4183b","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"payload","x":1162,"y":1064,"wires":[]},{"id":"5823443e.a1751c","type":"rpi-sensehat out","z":"8e1d30e1.e4c17","name":"","x":1413,"y":582,"wires":[]},{"id":"a3e34491.9437d8","type":"function","z":"8e1d30e1.e4c17","name":"set SenseHat","func":"msg.background = msg.lightr + \",\" + msg.lightg + \",\" + msg.lightb;\nmsg.speed = 5;\n\nif (msg.sentiment > 0) {\n    msg.image = \"smily\";\n} else if (msg.sentiment < 0) {\n    msg.image = \"frusty\";\n} else {\n    msg.image = \"nutreal\";\n}\n\nmsg.payload = \"R90\\n\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":582,"wires":[["5823443e.a1751c","77e36a53.bc0d74"]]},{"id":"8442a0f0.dd9d5","type":"wiotp in","z":"8e1d30e1.e4c17","authType":"d","deviceKey":"9e0f001d.480fe","deviceType":"","deviceId":"","command":"get-weather","commandType":"g","name":"IoTF Get-Weather","x":111,"y":1333,"wires":[["6ffd3ed8.f0568","297c2d74.be7582"]]},{"id":"6ffd3ed8.f0568","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"false","x":317,"y":1282,"wires":[]},{"id":"297c2d74.be7582","type":"function","z":"8e1d30e1.e4c17","name":"set text2speach","func":"msg.orig = msg.payload.d;\n\nweathertext = \"\";\nweather = msg.payload.d.forecasts;\n\nif (msg.payload.d.language == \"en-US\") { \n    msg.voice = \"en-GB_KateVoice\";\n    weathertext = \"The Weather in \";\n    weathertext = weathertext + msg.payload.d.location + \" will be on \";\n}\nif (msg.payload.d.language == \"de-DE\") { \n    msg.voice = \"de-DE_BirgitVoice\";\n    weathertext = \"Das Wetter in \";\n    weathertext = weathertext + msg.payload.d.location + \" wird am \";\n}\n\nif (weather.length > 0 ) {\n    narrative = weather[0].narrative; \n    dow = weather[0].dow;\n    weathertext = weathertext + dow + \" \" + narrative;\n    if (typeof weather[0].day !== \"undefined\") {\n        code = weather[0].day.icon_code;\n    } else if (typeof weather[0].night !== \"undefined\") {\n        code = weather[0].night.icon_code;\n    }\n} else {\n    weathertext = \"No Weather found!\"\n}\n\nmsg.payload.weathertext = weathertext;\nmsg.payload.code = code;\n\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":1333,"wires":[["fe9e0479.4ccc98","9c1f9e6f.7db6e","dca3c978.cb0fa8"]]},{"id":"fe9e0479.4ccc98","type":"function","z":"8e1d30e1.e4c17","name":"Set IoTF Weather","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-1\",\n            \"sensor\" : \"weather\",\n            \"timestamp\" : new Date(),\n            \"text\": \"Wetter Info\",\n            \"code\" : \"0\"\n        }\n    }; \n\nsensor.d.text = msg.payload.weathertext;\nsensor.d.code = msg.payload.code;\n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":548,"y":1446,"wires":[["d88b3f22.e35b9","78ce94e6.2fdabc"]]},{"id":"9c1f9e6f.7db6e","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"orig.forecasts[1]","x":566,"y":1275,"wires":[]},{"id":"dca3c978.cb0fa8","type":"change","z":"8e1d30e1.e4c17","name":"Weathertext","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weathertext","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":539,"y":1334,"wires":[["37d36cae.fb8db4"]]},{"id":"d88b3f22.e35b9","type":"wiotp out","z":"8e1d30e1.e4c17","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"9e0f001d.480fe","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":786,"y":1446,"wires":[]},{"id":"78ce94e6.2fdabc","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"payload","x":785,"y":1387,"wires":[]},{"id":"37d36cae.fb8db4","type":"watson-text-to-speech","z":"8e1d30e1.e4c17","name":"Text2Speach","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"pjaxyNAONb3n","x":724,"y":1334,"wires":[["8f420564.00dc58"]]},{"id":"8f420564.00dc58","type":"speakerpi-output","z":"8e1d30e1.e4c17","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"22050","name":"Weather","x":915,"y":1334,"wires":[]},{"id":"46e01fa4.6a31c","type":"inject","z":"8e1d30e1.e4c17","name":"Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":87,"y":258,"wires":[["9222b273.5f091"]]},{"id":"9222b273.5f091","type":"function","z":"8e1d30e1.e4c17","name":"Set","func":"var devEvent = {\n    \"d\" : {\n        \"device\": \"tjbot-oh\",\n        \"cmd\": \"Temperature\",\n        \"text\": \"Temp (34.96) is ok\",\n        \"rgb\": [0,255,0]\n    }\n}\n\nmsg.payload = devEvent;\n\nreturn msg;","outputs":1,"noerr":0,"x":226,"y":258,"wires":[["76ece1a6.f86cb"]]},{"id":"778cfa84.a87a34","type":"wiotp in","z":"8e1d30e1.e4c17","authType":"d","deviceKey":"41cde635.256ab8","deviceType":"","deviceId":"","command":"set-led","commandType":"g","name":"IoTF Set-Led","x":87,"y":1605,"wires":[["566645f4.52a26c","e9c12430.1b7078"]]},{"id":"566645f4.52a26c","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"false","x":286.6333312988281,"y":1543.3331909179688,"wires":[]},{"id":"e9c12430.1b7078","type":"switch","z":"8e1d30e1.e4c17","name":"Toggle mode","property":"payload.d.toggle","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":293.0000305175781,"y":1604.5332641601562,"wires":[["7160e02f.fb608"],["c71afb87.dca018"]]},{"id":"7160e02f.fb608","type":"function","z":"8e1d30e1.e4c17","name":"switch on/off","func":"var newMsg = { payload: false };\nif (msg.payload.d.turnon) {\n    newMsg.payload = msg.payload.d.turnon;    \n} \n\n// switch all off\n// toggle the led lights depending on red/green\n// stat represents on/off for the led light\nif (msg.payload.d.led == \"all off\") {\n    return [{ payload: false },{ payload: false },{ payload: false }];\n} else if (msg.payload.d.led == \"green\") {\n    return [newMsg, { payload: false },{ payload: false }];\n} else if (msg.payload.d.led == \"red\") {\n    return [{ payload: false }, newMsg,{ payload: false }];\n} else if (msg.payload.d.led == \"blue\") {\n    return [{ payload: false }, { payload: false }, newMsg];\n}else {\n    return [{ payload: false }, { payload: false }, { payload: false }];\n}","outputs":"3","noerr":0,"x":687.6333618164062,"y":1597.5331115722656,"wires":[["5385e9cf.49df58"],["c4cf654a.a43d78"],["bf1f7c95.89a97"]]},{"id":"c71afb87.dca018","type":"switch","z":"8e1d30e1.e4c17","name":"Color","property":"payload.d.led","propertyType":"msg","rules":[{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"blue","vt":"str"}],"checkall":"true","outputs":3,"x":503.0000915527344,"y":1693.5332336425781,"wires":[["b3e69931.2a9e18"],["33b26ebf.db01c2"],["a892c049.841c3"]]},{"id":"b3e69931.2a9e18","type":"change","z":"8e1d30e1.e4c17","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":684.0000915527344,"y":1651.9999084472656,"wires":[["5385e9cf.49df58"]]},{"id":"33b26ebf.db01c2","type":"change","z":"8e1d30e1.e4c17","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":685.6333923339844,"y":1693.5332641601562,"wires":[["c4cf654a.a43d78"]]},{"id":"a892c049.841c3","type":"change","z":"8e1d30e1.e4c17","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":686.6333923339844,"y":1732.5332641601562,"wires":[["bf1f7c95.89a97"]]},{"id":"5385e9cf.49df58","type":"function","z":"8e1d30e1.e4c17","name":"Green","func":"if (msg.payload === true) {\n    msg.background = \"green\";\n    msg.payload = \"on\";\n} else {\n    msg.background = \"off\";\n    msg.payload = \"off\";\n}\n\nmsg.speed = 5;\n\nreturn msg;","outputs":1,"noerr":0,"x":927,"y":1585,"wires":[["1a6aaa0d.862766"]]},{"id":"c4cf654a.a43d78","type":"function","z":"8e1d30e1.e4c17","name":"Red","func":"if (msg.payload === true) {\n    msg.background = \"red\";\n    msg.payload = \"on\";\n} else {\n    msg.background = \"off\";\n    msg.payload = \"off\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":928,"y":1665,"wires":[["1a6aaa0d.862766"]]},{"id":"1a6aaa0d.862766","type":"rpi-sensehat out","z":"8e1d30e1.e4c17","name":"Led Sim","x":1108,"y":1664,"wires":[]},{"id":"bf1f7c95.89a97","type":"function","z":"8e1d30e1.e4c17","name":"Blue","func":"if (msg.payload === true) {\n    msg.background = \"blue\";\n    msg.payload = \"on\";\n} else {\n    msg.background = \"off\";\n    msg.payload = \"off\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":927,"y":1733,"wires":[["1a6aaa0d.862766"]]},{"id":"1ce091c8.306eee","type":"inject","z":"8e1d30e1.e4c17","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":262,"y":1180,"wires":[["5f9916d0.495208"]]},{"id":"44d4e8e7.fdcb48","type":"inject","z":"8e1d30e1.e4c17","name":"Stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":264,"y":1220,"wires":[["5f9916d0.495208"]]},{"id":"4d26b56c.35366c","type":"function","z":"8e1d30e1.e4c17","name":"Smilys","func":"var smily = [ \n\"o\",\"o\",\"o\",\"e\",\"e\",\"o\",\"o\",\"o\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"w\",\"b\",\"w\",\"e\",\"e\",\"w\",\"b\",\"w\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"e\",\"e\",\"e\",\"y\",\"y\",\"e\",\"e\",\"e\",\n\"r\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"r\",\n\"e\",\"r\",\"r\",\"r\",\"r\",\"r\",\"r\",\"e\",\n\"e\",\"e\",\"e\",\"r\",\"r\",\"e\",\"e\",\"e\"\n];\n\nvar frusty = [ \n\"o\",\"o\",\"o\",\"e\",\"e\",\"o\",\"o\",\"o\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"w\",\"b\",\"w\",\"e\",\"e\",\"w\",\"b\",\"w\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"e\",\"e\",\"e\",\"y\",\"y\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"r\",\"r\",\"r\",\"r\",\"r\",\"r\",\"e\",\n\"r\",\"r\",\"e\",\"e\",\"e\",\"e\",\"r\",\"r\"\n];\n\nvar surprised = [ \n\"o\",\"o\",\"o\",\"e\",\"e\",\"o\",\"o\",\"o\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"w\",\"b\",\"w\",\"e\",\"e\",\"w\",\"b\",\"w\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"e\",\"e\",\"e\",\"y\",\"y\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"r\",\"r\",\"r\",\"r\",\"e\",\"e\",\n\"e\",\"e\",\"r\",\"e\",\"e\",\"r\",\"e\",\"e\",\n\"e\",\"e\",\"r\",\"r\",\"r\",\"r\",\"e\",\"e\"\n];\n\nvar nutreal = [ \n\"o\",\"o\",\"o\",\"e\",\"e\",\"o\",\"o\",\"o\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"w\",\"b\",\"w\",\"e\",\"e\",\"w\",\"b\",\"w\",\n\"w\",\"w\",\"w\",\"e\",\"e\",\"w\",\"w\",\"w\",\n\"e\",\"e\",\"e\",\"y\",\"y\",\"e\",\"e\",\"e\",\n\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\"e\",\n\"e\",\"r\",\"r\",\"r\",\"r\",\"r\",\"r\",\"e\",\n\"e\",\"e\",\"r\",\"r\",\"r\",\"r\",\"e\",\"e\"\n];\n\nswitch (msg.image) {\n    case \"smily\":\n        var image = smily;\n        break;\n    case \"frusty\":\n        var image = frusty;\n        break;\n    case \"surprised\":\n        var image = surprised;\n        break;\n    default: \n        var image = nutreal;\n        break;\n}\n\nvar sImage = \"\";\nvar first = true;\nfor (var y = 0; y < 8; y++) {\n    for (var x = 0; x < 8; x++) {\n        if (first === true) {\n            sImage = \"R180\\n\";\n            sImage = sImage + y + \",\" + x;\n            first = false;\n        } else {\n            sImage = sImage + \",\" + y + \",\" + x;\n        }\n        switch (image[y*8+x]) {\n            case \"r\":\n                sImage = sImage + \",red\";\n                break;\n            case \"g\":\n                sImage = sImage + \",green\";\n                break;\n            case \"b\":\n                sImage = sImage + \",blue\";\n                break;\n            case \"y\":\n                sImage = sImage + \",yellow\";\n                break;\n            case \"o\":\n                sImage = sImage + \",210,105,30\";\n                break;\n            case \"w\":\n                sImage = sImage + \",white\";\n                break;\n            default:\n                sImage = sImage + \",off\";\n                break;\n        }    \n    }\n}\n\nmsg.payload = sImage;\nmsg.speed = 5;\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":631,"wires":[["5823443e.a1751c"]]},{"id":"77e36a53.bc0d74","type":"delay","z":"8e1d30e1.e4c17","name":"Wait Text","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1108,"y":631,"wires":[["4d26b56c.35366c"]]},{"id":"831e83b5.a05be","type":"inject","z":"8e1d30e1.e4c17","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":925,"wires":[["cf9ff1f.390df1"]]},{"id":"4e7a4eac.740b","type":"wiotp in","z":"8e1d30e1.e4c17","authType":"d","deviceKey":"b19196ea.9796c8","deviceType":"","deviceId":"","command":"set-light","commandType":"g","name":"IoTF Set-Light","x":88,"y":1912,"wires":[["994d8cf5.3cac8","c0c1b722.fcb578"]]},{"id":"994d8cf5.3cac8","type":"debug","z":"8e1d30e1.e4c17","name":"","active":true,"console":"false","complete":"false","x":297,"y":1857.7999267578125,"wires":[]},{"id":"c0c1b722.fcb578","type":"function","z":"8e1d30e1.e4c17","name":"Set RGB","func":"msg.background = parseInt(msg.payload.d.lightr) + \",\" + parseInt(msg.payload.d.lightg) + \",\" + parseInt(msg.payload.d.lightb);\nmsg.payload = \"R90\\n\" + msg.payload.d.text;\nmsg.speed = 5;\n\nreturn msg;","outputs":1,"noerr":0,"x":284.1666564941406,"y":1911.4666748046875,"wires":[["a601ca8b.c53a78"]]},{"id":"a601ca8b.c53a78","type":"rpi-sensehat out","z":"8e1d30e1.e4c17","name":"RGB ","x":459,"y":1911,"wires":[]},{"id":"a317c038.02d38","type":"wiotp-credentials","z":"8e1d30e1.e4c17","name":"Bluemix IoTF","org":"jg3kp3","devType":"tjbot","devId":"tjbot-oh"},{"id":"72749d9.b9da964","type":"wiotp-credentials","z":"8e1d30e1.e4c17","name":"Bluemix IoTF","org":"jg3kp3","devType":"tjbot","devId":"tjbot-oh"},{"id":"e6d96fd2.74d34","type":"wiotp-credentials","z":"8e1d30e1.e4c17","name":"Bluemix IoTF","org":"jg3kp3","devType":"tjbot","devId":"tjbot-oh"},{"id":"f4fa1003.c5d35","type":"os-config","z":"8e1d30e1.e4c17","cfgtype":"api","region":"dallas","projectId":"e8b87e1db0484de19ae754d28340cef7","userId":"3998bd30604f4d6284f5c0deb702eff9","userName":"Admin_e4185bf7a977854c4b9a4b761bd54a5ac01a84e4","password":"T7j7e?lZH!nyq0,2","name":"Bluemix Service"},{"id":"57482903.4ac038","type":"wiotp-credentials","z":"8e1d30e1.e4c17","name":"Bluemix IoTF","org":"jg3kp3","devType":"tjbot","devId":"tjbot-oh"},{"id":"9e0f001d.480fe","type":"wiotp-credentials","z":"8e1d30e1.e4c17","name":"Bluemix IoTF","org":"jg3kp3","devType":"tjbot","devId":"tjbot-oh"},{"id":"41cde635.256ab8","type":"wiotp-credentials","z":"8e1d30e1.e4c17","name":"Bluemix IoTF","org":"jg3kp3","devType":"tjbot","devId":"tjbot-oh"},{"id":"b19196ea.9796c8","type":"wiotp-credentials","z":"8e1d30e1.e4c17","name":"Bluemix IoTF","org":"jg3kp3","devType":"tjbot","devId":"tjbot-oh"}]