Flows/Raspi-SenseHAT/Tab3-ChatBot.json
[{"id":"8cb60e96.6ec0e","type":"microPi","z":"c968106f.d0d57","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"5","debug":"false","mode":"666","x":322,"y":111.5,"wires":[[],["9243cc60.f54b9","84be06cc.d2da98","a16ba29c.03ac5"],[]]},{"id":"c9323078.9d5bf","type":"inject","z":"c968106f.d0d57","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":145,"y":46,"wires":[["8cb60e96.6ec0e"]]},{"id":"9243cc60.f54b9","type":"debug","z":"c968106f.d0d57","name":"","active":true,"console":"false","complete":"false","x":537,"y":45,"wires":[]},{"id":"84be06cc.d2da98","type":"speakerpi-output","z":"c968106f.d0d57","choose":"givenfile","filename":"/home/pi/audio/demo.wav","channels":"1","bitdepth":"8","samplerate":"22050","name":"Play","x":513,"y":112,"wires":[]},{"id":"a16ba29c.03ac5","type":"watson-speech-to-text","z":"c968106f.d0d57","name":"Speech2Text","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"UDDuBuwU3BLT","x":533,"y":172,"wires":[["4d7056f9.ab9d88","5fde18f9.21fbb8"]]},{"id":"6c4d1d56.3246f4","type":"inject","z":"c968106f.d0d57","name":"Stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":140,"y":149,"wires":[["8cb60e96.6ec0e"]]},{"id":"4d7056f9.ab9d88","type":"change","z":"c968106f.d0d57","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"human","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":742,"y":171,"wires":[["55a0d970.29c738","daf31bd5.1b2fe8","59f0afc.73b535"]]},{"id":"5fde18f9.21fbb8","type":"debug","z":"c968106f.d0d57","name":"Transcript","active":true,"console":"false","complete":"fullresult","x":732,"y":102,"wires":[]},{"id":"55a0d970.29c738","type":"watson-conversation-v1","z":"c968106f.d0d57","name":"IoT-Chatbot","workspaceid":"204cb6a3-56d9-4242-847b-39254cca5612","multiuser":false,"context":true,"x":634,"y":860,"wires":[["ecae3e8e.68f9b","3b33dad6.ac2066","a824ec59.f70c8"]]},{"id":"daf31bd5.1b2fe8","type":"debug","z":"c968106f.d0d57","name":"","active":false,"console":"false","complete":"payload","x":1038,"y":174,"wires":[]},{"id":"59f0afc.73b535","type":"function","z":"c968106f.d0d57","name":"Timestamp","func":"    //create date object from timestamp injected in\n    var dt = new Date(); \n    msg.timestamp = new Date().toString();\n\n    msg.filename = \"/home/pi/IoTChatbot-log.csv\";\n\treturn msg;","outputs":1,"noerr":0,"x":1474,"y":580,"wires":[["ce9a6872.323da8"]]},{"id":"ecae3e8e.68f9b","type":"debug","z":"c968106f.d0d57","name":"","active":true,"console":"false","complete":"payload","x":805,"y":748,"wires":[]},{"id":"3b33dad6.ac2066","type":"change","z":"c968106f.d0d57","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"watson","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1144,"y":1000,"wires":[["54263d05.abd384","59f0afc.73b535"]]},{"id":"a824ec59.f70c8","type":"function","z":"c968106f.d0d57","name":"Context Demultiplexer","func":"var msg1;\nvar msg2;\nvar msg3;\nvar msg4;\n\nif (msg.payload.context.led_green === true) {\n    msg1 = {payload: \"R90\\ngreen switch on\", background : \"green\", speed : 5};\n} else if (msg.payload.context.led_yellow === true) {\n    msg.background = \"yellow\";\n    msg2 = {payload: \"R90\\nyellow switch on\", background : \"yellow\", speed : 5};\n} else if (msg.payload.context.led_red === true) {\n    msg.background = \"red\";\n    msg3 = {payload: \"R90\\nred switch on\", background : \"red\", speed : 5};\n} else {\n    msg.background = \"off\";\n    msg4 = {payload: \"switch off\", background : \"off\", speed : 5};\n}\n\nmsg.speed = 5;\n\nreturn  [\n            msg1,\n            msg2,\n            msg3,\n            {payload:(msg.payload.context.buzzer === true ? \"1\" : \"0\")},\n            {payload:(msg.payload.context.diplay_color === true ? msg.payload.context.diplay_color : false)},\n            {data:msg.payload.context, topic:context}\n        ];\n","outputs":"6","noerr":0,"x":1184,"y":1460,"wires":[["208e741c.26805c","1c849840.a03268"],["208e741c.26805c"],["208e741c.26805c"],[],["e909f1d2.8fbd4"],["6a4a200a.adcd"]]},{"id":"ca742c1.b5186d","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Turn on the green led","payloadType":"str","repeat":"","crontab":"","once":false,"x":144,"y":780,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"7f11333e.478f2c","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":94,"y":720,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"497ed251.8a223c","type":"inject","z":"c968106f.d0d57","name":"display color red","topic":"","payload":"Change the display color to red","payloadType":"str","repeat":"","crontab":"","once":false,"x":124,"y":980,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"7319a36f.48f2dc","type":"inject","z":"c968106f.d0d57","name":"display color yellow","topic":"","payload":"Change the display color to yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":134,"y":1000,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"ea9e3e94.0b875","type":"inject","z":"c968106f.d0d57","name":"display color green","topic":"","payload":"Change the display color to green","payloadType":"str","repeat":"","crontab":"","once":false,"x":134,"y":1020,"wires":[["55a0d970.29c738"]]},{"id":"7937ca36.3fb624","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Turn on the yellow led","payloadType":"str","repeat":"","crontab":"","once":false,"x":144,"y":800,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"659c9456.2ce9fc","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Turn on the red led","payloadType":"str","repeat":"","crontab":"","once":false,"x":134,"y":820,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"441b57b6.684c78","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Turn on the buzzer","payloadType":"str","repeat":"","crontab":"","once":false,"x":134,"y":1080,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"a5390b6d.9a5308","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Turn off the green led","payloadType":"str","repeat":"","crontab":"","once":false,"x":144,"y":880,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"8cc5632d.a452b","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Turn off the yellow led","payloadType":"str","repeat":"","crontab":"","once":false,"x":144,"y":900,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"fca1dfaa.4fcd7","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Turn off the red led","payloadType":"str","repeat":"","crontab":"","once":false,"x":134,"y":920,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"7fb69dea.9502a4","type":"inject","z":"c968106f.d0d57","name":"","topic":"","payload":"Turn off the buzzer","payloadType":"str","repeat":"","crontab":"","once":false,"x":134.25,"y":1124.75,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"929199e2.ea66b8","type":"function","z":"c968106f.d0d57","name":"","func":"msg.params.context = \"reset\";\nreturn msg;","outputs":1,"noerr":0,"x":154,"y":660,"wires":[["55a0d970.29c738","c27932f2.a1c2a"]]},{"id":"ce9a6872.323da8","type":"template","z":"c968106f.d0d57","name":"Convert to CSV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}},{{topic}},{{data}};","x":1904,"y":560,"wires":[["5fc5f6.4c543a0c","f2602438.3b38c8","1cdf1ba7.7fc534"]]},{"id":"c27932f2.a1c2a","type":"change","z":"c968106f.d0d57","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"human","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":644,"y":900,"wires":[["59f0afc.73b535"]]},{"id":"6a4a200a.adcd","type":"json","z":"c968106f.d0d57","name":"","x":1254,"y":1540,"wires":[["59f0afc.73b535"]]},{"id":"54263d05.abd384","type":"play audio","z":"c968106f.d0d57","name":"","voice":"2","x":1354,"y":1080,"wires":[]},{"id":"e909f1d2.8fbd4","type":"debug","z":"c968106f.d0d57","name":"Display Color","active":true,"console":"false","complete":"payload","x":1534,"y":1512,"wires":[]},{"id":"e95c888f.ad4d38","type":"inject","z":"c968106f.d0d57","name":"Reset Context","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":660,"wires":[["929199e2.ea66b8"]]},{"id":"5fc5f6.4c543a0c","type":"debug","z":"c968106f.d0d57","name":"","active":true,"console":"true","complete":"true","x":2394,"y":540,"wires":[]},{"id":"f2602438.3b38c8","type":"file","z":"c968106f.d0d57","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2194,"y":620,"wires":[]},{"id":"1cdf1ba7.7fc534","type":"file in","z":"c968106f.d0d57","name":"","filename":"","format":"utf8","x":2194,"y":660,"wires":[["50b468b6.cfdfb8"]]},{"id":"50b468b6.cfdfb8","type":"debug","z":"c968106f.d0d57","name":"","active":true,"console":"false","complete":"payload","x":2414,"y":580,"wires":[]},{"id":"208e741c.26805c","type":"rpi-sensehat out","z":"c968106f.d0d57","name":"Led Sim","x":1529,"y":1446,"wires":[]},{"id":"1c849840.a03268","type":"debug","z":"c968106f.d0d57","name":"","active":true,"console":"false","complete":"true","x":1519,"y":1400,"wires":[]}]