Flows/Raspi-GrovePi/Tab1-SendIoTF.json
[{"id":"e89de145.dcda1","type":"comment","z":"6980c7b7.23b3d8","name":"GrovePi-0 (GrovePi-oh) Send to IoTF","info":"","x":160.63333129882812,"y":49,"wires":[]},{"id":"f4066202.d7f84","type":"grove digital sensor","z":"6980c7b7.23b3d8","name":"Temp&Hum","board":"d22447fd.2f2b18","sensor":"dht11","repeat":"1","pin":"2","x":83.13333129882812,"y":172.5,"wires":[["8b5f17bf.766908","75d3beaa.f653"]]},{"id":"8b5f17bf.766908","type":"debug","z":"6980c7b7.23b3d8","name":"","active":false,"console":"false","complete":"false","x":299.1333312988281,"y":122,"wires":[]},{"id":"75d3beaa.f653","type":"function","z":"6980c7b7.23b3d8","name":"Set IoTF temphum","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"temphum\",\n            \"timestamp\" : new Date(),\n            \"temperature\":msg.payload.temperature,\n            \"humidity\": msg.payload.humidity,\n            \"heatIndex\" : msg.payload.heatIndex\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":309.1333312988281,"y":190.5,"wires":[["97160157.7dccf"]]},{"id":"97160157.7dccf","type":"wiotp out","z":"6980c7b7.23b3d8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c7d24f6f.beb01","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":524.1333312988281,"y":191,"wires":[]},{"id":"b60cb51d.e657d8","type":"grove digital sensor","z":"6980c7b7.23b3d8","name":"Ultrasonic","board":"d22447fd.2f2b18","sensor":"ultrasonic","repeat":"1","pin":"3","x":72.63333129882812,"y":290.5,"wires":[["f8d989b4.495498","73d49971.f3b848"]]},{"id":"f8d989b4.495498","type":"debug","z":"6980c7b7.23b3d8","name":"","active":false,"console":"false","complete":"false","x":282.6333312988281,"y":265,"wires":[]},{"id":"73d49971.f3b848","type":"function","z":"6980c7b7.23b3d8","name":"Set IoTF ultrasonic","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"ultrasonic\",\n            \"timestamp\" : new Date(),\n            \"distance\" : msg.payload\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":300.6333312988281,"y":334.5,"wires":[["cbd6bba7.9868e8"]]},{"id":"cbd6bba7.9868e8","type":"wiotp out","z":"6980c7b7.23b3d8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c7d24f6f.beb01","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":528.6333312988281,"y":335,"wires":[]},{"id":"cdc72957.92b268","type":"grove analog sensor","z":"6980c7b7.23b3d8","name":"Light","pin":"0","sensor":"light","repeat":"1","board":"d22447fd.2f2b18","x":59.366668701171875,"y":464.1666564941406,"wires":[["bb0bd378.556f3","66b0590b.470328"]]},{"id":"bb0bd378.556f3","type":"debug","z":"6980c7b7.23b3d8","name":"","active":false,"console":"false","complete":"false","x":281.3666687011719,"y":412.5666809082031,"wires":[]},{"id":"66b0590b.470328","type":"function","z":"6980c7b7.23b3d8","name":"Set IoTF light","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"light\",\n            \"timestamp\" : new Date(),\n            \"light\" : msg.payload\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":278,"y":490.3666687011719,"wires":[["9783d661.8fbed8"]]},{"id":"9783d661.8fbed8","type":"wiotp out","z":"6980c7b7.23b3d8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c7d24f6f.beb01","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":500,"y":490.3666687011719,"wires":[]},{"id":"6a5cba7d.907d44","type":"grove analog sensor","z":"6980c7b7.23b3d8","name":"Sound","pin":"1","sensor":"sound","repeat":"1","board":"d22447fd.2f2b18","x":55,"y":614.36669921875,"wires":[["9a11c7b5.c02cd8","7bf4be63.4f4b5"]]},{"id":"9a11c7b5.c02cd8","type":"debug","z":"6980c7b7.23b3d8","name":"","active":false,"console":"false","complete":"false","x":277,"y":562.7667236328125,"wires":[]},{"id":"7bf4be63.4f4b5","type":"function","z":"6980c7b7.23b3d8","name":"Set IoTF sound","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"sound\",\n            \"timestamp\" : new Date(),\n            \"sound\" : msg.payload\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":283.6333312988281,"y":640.5667114257812,"wires":[["59e4af06.9803b"]]},{"id":"59e4af06.9803b","type":"wiotp out","z":"6980c7b7.23b3d8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c7d24f6f.beb01","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":494.6333312988281,"y":635.5667114257812,"wires":[]},{"id":"4029f2cf.e75c1c","type":"grove digital sensor","z":"6980c7b7.23b3d8","name":"Button","board":"d22447fd.2f2b18","sensor":"button","repeat":"1","pin":"5","x":57.366668701171875,"y":747.7667236328125,"wires":[["60ce9416.73e92c","65d83a81.7c6054"]]},{"id":"60ce9416.73e92c","type":"debug","z":"6980c7b7.23b3d8","name":"","active":false,"console":"false","complete":"false","x":277.3666687011719,"y":712.699951171875,"wires":[]},{"id":"65d83a81.7c6054","type":"function","z":"6980c7b7.23b3d8","name":"Set IoTF button","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"button\",\n            \"timestamp\" : new Date(),\n            \"status\" : msg.payload\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":286.3666687011719,"y":782.1000061035156,"wires":[["eb94a633.8d4dd8"]]},{"id":"eb94a633.8d4dd8","type":"wiotp out","z":"6980c7b7.23b3d8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c7d24f6f.beb01","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":496,"y":781.9666748046875,"wires":[]},{"id":"d22447fd.2f2b18","type":"board-config","z":"6980c7b7.23b3d8","board":"GrovePi"},{"id":"c7d24f6f.beb01","type":"wiotp-credentials","z":"6980c7b7.23b3d8","name":"Bluemix IoTF","org":"frjtub","devType":"grovepi","devId":"grovepi-0"}]