Flows/Raspi-GrovePi/Tab2-ReceiveIoTF.json
[{"id":"11fb8727.26f429","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"set-lcd","commandType":"g","name":"IoTF Set-Lcd","x":94,"y":206.5,"wires":[["6c174a8a.d852f4","2bbcbe3c.281452"]]},{"id":"6c174a8a.d852f4","type":"debug","z":"7c5755a3.07d8ec","name":"","active":false,"console":"false","complete":"false","x":307,"y":143,"wires":[]},{"id":"f66acd2f.e7d31","type":"switch","z":"7c5755a3.07d8ec","name":"Which cmd","property":"payload.d.cmd","propertyType":"msg","rules":[{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"Restore","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":348.4999084472656,"y":282.5,"wires":[["15b743de.5f551c"],["916ef156.67e7a"],["dc574a8e.384b98"]]},{"id":"2bbcbe3c.281452","type":"change","z":"7c5755a3.07d8ec","name":"Save msg","rules":[{"t":"set","p":"orig","pt":"msg","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":287.5,"y":206.5,"wires":[["f66acd2f.e7d31"]]},{"id":"b936f902.f16b08","type":"grove lcdrgb output","z":"7c5755a3.07d8ec","name":"LCD Display","board":"dcb86b5.7d7cc98","pin":"1","x":922.2333984375,"y":355.433349609375,"wires":[]},{"id":"dc574a8e.384b98","type":"function","z":"7c5755a3.07d8ec","name":"Set LCD","func":"var lcd = {\n    \"text\" : msg.orig.text,\n    \"rgb\" : msg.orig.rgb\n}\n\nmsg.payload = lcd; \n\nreturn msg;","outputs":1,"noerr":0,"x":735.2333984375,"y":356.23333740234375,"wires":[["b936f902.f16b08","46ef1e20.e4bbe"]]},{"id":"15b743de.5f551c","type":"change","z":"7c5755a3.07d8ec","name":"Save into lastlcd","rules":[{"t":"set","p":"lastlcd","pt":"global","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":544.2333984375,"y":224.36666870117188,"wires":[["dc574a8e.384b98"]]},{"id":"46ef1e20.e4bbe","type":"debug","z":"7c5755a3.07d8ec","name":"","active":false,"console":"false","complete":"payload","x":925.2333984375,"y":301.5666809082031,"wires":[]},{"id":"517cf645.036cc8","type":"change","z":"7c5755a3.07d8ec","name":"Restore lastlcd","rules":[{"t":"set","p":"orig","pt":"msg","to":"lastlcd","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":753.2333984375,"y":251.16668701171875,"wires":[["dc574a8e.384b98"]]},{"id":"916ef156.67e7a","type":"switch","z":"7c5755a3.07d8ec","name":"lastlcd exists","property":"lastlcd","propertyType":"global","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":533.2333984375,"y":281.76666259765625,"wires":[["517cf645.036cc8"],["dc574a8e.384b98"]]},{"id":"11da02b7.a9ec3d","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"set-led","commandType":"g","name":"IoTF Set-Led","x":95.73333740234375,"y":771.7666931152344,"wires":[["e15242b.5ce9ac","bd2165ee.b62038"]]},{"id":"f0abbfa9.7c447","type":"grove digital output","z":"7c5755a3.07d8ec","name":"Green Led","board":"dcb86b5.7d7cc98","pin":"7","x":956.7333984375,"y":750.5667724609375,"wires":[]},{"id":"eb443023.f6f8a","type":"grove digital output","z":"7c5755a3.07d8ec","name":"Red Led","board":"dcb86b5.7d7cc98","pin":"8","x":944.7333984375,"y":825.5667724609375,"wires":[]},{"id":"a28bb316.41923","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"set-light","commandType":"g","name":"IoTF Set-Light","x":93.73333740234375,"y":975.8999938964844,"wires":[["1bf601c9.50002e","75a84994.738f18"]]},{"id":"1bf601c9.50002e","type":"debug","z":"7c5755a3.07d8ec","name":"","active":false,"console":"false","complete":"false","x":295.73333740234375,"y":932.6999816894531,"wires":[]},{"id":"bcc78d7c.88e4d","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"play","commandType":"g","name":"IoTF play","x":82.73333740234375,"y":1124.9000549316406,"wires":[["a5ede917.bcf378","60b109b6.f94d38"]]},{"id":"a5ede917.bcf378","type":"debug","z":"7c5755a3.07d8ec","name":"","active":false,"console":"false","complete":"false","x":296.73333740234375,"y":1074.699951171875,"wires":[]},{"id":"786c1c5d.2b2c74","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"set-buzzer","commandType":"g","name":"IoTF Set-Buzzer","x":102.73333740234375,"y":1282.9000244140625,"wires":[["bab91c44.10a8d","56429db1.ed00b4"]]},{"id":"bab91c44.10a8d","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"false","x":298.73333740234375,"y":1239.699951171875,"wires":[]},{"id":"75a84994.738f18","type":"function","z":"7c5755a3.07d8ec","name":"Set RGB","func":"var rgb = [ parseInt(msg.payload.d.lightr), parseInt(msg.payload.d.lightg), parseInt(msg.payload.d.lightb) ];\n\nvar lcd = {\n    \"text\" : msg.payload.d.text,\n    \"rgb\" : rgb\n}\n\nmsg.payload = lcd; \n\nreturn msg;","outputs":1,"noerr":0,"x":289.8999938964844,"y":987.3666687011719,"wires":[["711ca363.0dca1c"]]},{"id":"711ca363.0dca1c","type":"grove lcdrgb output","z":"7c5755a3.07d8ec","name":"LCD","board":"dcb86b5.7d7cc98","pin":"1","x":454.7333679199219,"y":987.7666931152344,"wires":[]},{"id":"f326a9c2.efa098","type":"speakerpi-output","z":"7c5755a3.07d8ec","choose":"filebased","filename":"","channels":"2","bitdepth":"8","samplerate":"22050","name":"Raspi Speaker","x":491.7333679199219,"y":1125.63330078125,"wires":[]},{"id":"60b109b6.f94d38","type":"function","z":"7c5755a3.07d8ec","name":"Set play","func":"var newPath = \"/home/pi/Git/predefsound/\";\nvar newFile;\n\nmsg.choose = \"filebased\";\n\nif (msg.payload.d.filename) {\n    if (msg.payload.d.filename == \"watson-1.wav\") {\n        newFile = newPath + \"100percent.wav\";\n    } else if (msg.payload.d.filename == \"watson-2.wav\") {\n        newFile = newPath + \"everonward.wav\";\n    } else if (msg.payload.d.filename == \"watson-3.wav\") {\n        newFile = newPath + \"hailtoibm.wav\";\n    } else if (msg.payload.d.filename == \"watson-4.wav\") {\n        newFile = newPath + \"marchon.wav\";\n    } else if (msg.payload.d.filename == \"watson-5.wav\") {\n        newFile = newPath + \"hello.wav\";\n    } else {\n        newFile = newPath + msg.payload.d.filename;\n    }\n} else {\n        newFile = newPath + \"hello.wav\";\n}\n\nmsg.filename = newFile;\n\nreturn msg;","outputs":1,"noerr":0,"x":292.3666687011719,"y":1125.5,"wires":[["f326a9c2.efa098"]]},{"id":"56429db1.ed00b4","type":"function","z":"7c5755a3.07d8ec","name":"Set buzzer","func":"if (msg.payload.d.status === true) {\n    msg.payload = true; \n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":303.3666687011719,"y":1293.5,"wires":[["827e7b0e.93fd58"]]},{"id":"827e7b0e.93fd58","type":"grove digital output","z":"7c5755a3.07d8ec","name":"Buzzer","board":"dcb86b5.7d7cc98","pin":"6","x":472.7333679199219,"y":1292.566650390625,"wires":[]},{"id":"f9f7a05b.8ff66","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"true","x":266.36669921875,"y":442.8666687011719,"wires":[]},{"id":"88fe4620.b83cf8","type":"switch","z":"7c5755a3.07d8ec","name":"Translate?","property":"srclang","propertyType":"msg","rules":[{"t":"neq","v":"destlang","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":294.36669921875,"y":570.3667297363281,"wires":[["dd3c5182.12a85"],["22349cda.0e6a84"]]},{"id":"22349cda.0e6a84","type":"function","z":"7c5755a3.07d8ec","name":"set text2speach","func":"if (msg.orig) {\n    if (msg.orig.voice) {\n        msg.voice = msg.orig.voice;\n    } else {\n        if (msg.destlang == \"en\" ) { msg.voice = \"en-GB_KateVoice\" }\n        if (msg.destlang == \"es\" ) { msg.voice = \"es-ES_LauraVoice\" }\n        if (msg.destlang == \"de\" ) { msg.voice = \"de-DE_BirgitVoice\"}\n        if (msg.destlang == \"fr\" ) { msg.voice = \"fr-FR_ReneeVoice\"}\n        if (msg.destlang == \"it\" ) { msg.voice = \"it-IT_FrancescaVoice\"}\n        if (msg.destlang == \"pt\" ) { msg.voice = \"pt-BR_IsabelaVoice\"}\n    } \n} else {\n    if (msg.destlang == \"en\" ) { msg.voice = \"en-GB_KateVoice\" }\n    if (msg.destlang == \"es\" ) { msg.voice = \"es-ES_LauraVoice\" }\n    if (msg.destlang == \"de\" ) { msg.voice = \"de-DE_BirgitVoice\"}\n    if (msg.destlang == \"fr\" ) { msg.voice = \"fr-FR_ReneeVoice\"}\n    if (msg.destlang == \"it\" ) { msg.voice = \"it-IT_FrancescaVoice\"}\n    if (msg.destlang == \"pt\" ) { msg.voice = \"pt-BR_IsabelaVoice\"}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":683.36669921875,"y":576.8667297363281,"wires":[["e56a0b6a.44abd8"]]},{"id":"26229b5a.e53df4","type":"debug","z":"7c5755a3.07d8ec","name":"Translation","active":true,"console":"false","complete":"translation","x":677.36669921875,"y":513.8667907714844,"wires":[]},{"id":"d4f917a1.549638","type":"speakerpi-output","z":"7c5755a3.07d8ec","choose":"filebased","channels":"1","bitdepth":"8","samplerate":"22050","name":"Raspi Speaker","x":917.36669921875,"y":659.3667297363281,"wires":[]},{"id":"4f3b5f41.acb4","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"payload","x":908.36669921875,"y":609.8667297363281,"wires":[]},{"id":"db245042.34eb8","type":"inject","z":"7c5755a3.07d8ec","name":"Test ","topic":"","payload":"Dies ist ein Test","payloadType":"str","repeat":"","crontab":"","once":false,"x":463.36669921875,"y":659.36669921875,"wires":[["e56a0b6a.44abd8"]]},{"id":"d94c80a4.a325a","type":"function","z":"7c5755a3.07d8ec","name":"Save msg","func":"msg.orig = msg.payload.d;\n\nmsg.srclang = msg.payload.d.srclang;\nmsg.destlang = msg.payload.d.destlang;\nmsg.payload = msg.payload.d.speak; \n\nreturn msg;","outputs":1,"noerr":0,"x":263.36669921875,"y":492.3667907714844,"wires":[["88fe4620.b83cf8"]]},{"id":"a997c7cd.26f7c8","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"speak","commandType":"g","name":"IoTF speak","x":72.73336791992188,"y":492.7666931152344,"wires":[["f9f7a05b.8ff66","d94c80a4.a325a"]]},{"id":"e15242b.5ce9ac","type":"debug","z":"7c5755a3.07d8ec","name":"","active":false,"console":"false","complete":"false","x":295.3666687011719,"y":710.0998840332031,"wires":[]},{"id":"ef29610f.ce089","type":"function","z":"7c5755a3.07d8ec","name":"switch on/off","func":"var newMsg = { payload: false };\nif (msg.payload.d.turnon) {\n    newMsg.payload = msg.payload.d.turnon;    \n} \n\n// switch all off\n// toggle the led lights depending on red/green\n// stat represents on/off for the led light\nif (msg.payload.d.led == \"all off\") {\n    return [{ payload: false },{ payload: false },{ payload: false }];\n} else if (msg.payload.d.led == \"green\") {\n    return [newMsg, { payload: false },{ payload: false }];\n} else if (msg.payload.d.led == \"red\") {\n    return [{ payload: false }, newMsg,{ payload: false }];\n} else if (msg.payload.d.led == \"blue\") {\n    return [{ payload: false }, { payload: false }, newMsg];\n}else {\n    return [{ payload: false }, { payload: false }, { payload: false }];\n}","outputs":"3","noerr":0,"x":696.36669921875,"y":764.2998046875,"wires":[["f0abbfa9.7c447"],["eb443023.f6f8a"],["43a7b748.64e488"]]},{"id":"bd2165ee.b62038","type":"switch","z":"7c5755a3.07d8ec","name":"Toggle mode","property":"payload.d.toggle","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":301.7333679199219,"y":771.2999572753906,"wires":[["ef29610f.ce089"],["764bdcc5.75e354"]]},{"id":"764bdcc5.75e354","type":"switch","z":"7c5755a3.07d8ec","name":"","property":"payload.d.led","propertyType":"msg","rules":[{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"blue","vt":"str"}],"checkall":"true","outputs":3,"x":511.7334289550781,"y":860.2999267578125,"wires":[["a7a7284d.808f68"],["7f86b4df.d793ac"],["18cc2377.dd71bd"]]},{"id":"a7a7284d.808f68","type":"change","z":"7c5755a3.07d8ec","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.turnon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":692.7334289550781,"y":818.7666015625,"wires":[["f0abbfa9.7c447"]]},{"id":"7f86b4df.d793ac","type":"change","z":"7c5755a3.07d8ec","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.turnon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":694.3667297363281,"y":860.2999572753906,"wires":[["eb443023.f6f8a"]]},{"id":"18cc2377.dd71bd","type":"change","z":"7c5755a3.07d8ec","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.turnon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":695.3667297363281,"y":899.2999572753906,"wires":[["43a7b748.64e488"]]},{"id":"43a7b748.64e488","type":"grove digital output","z":"7c5755a3.07d8ec","name":"Blue Led","board":"4245312.a5720d","pin":"4","x":946.7333984375,"y":898.8999938964844,"wires":[]},{"id":"d9e6339d.dc496","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"get-image","commandType":"g","name":"IoTF Get-Image","x":101,"y":1418,"wires":[["4cb4895b.dce498","cec43c3d.f326e"]]},{"id":"4cb4895b.dce498","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"false","x":297,"y":1374.7999267578125,"wires":[]},{"id":"cec43c3d.f326e","type":"camerapi-takephoto","z":"7c5755a3.07d8ec","filemode":"1","filename":"dashboard.jpg","filedefpath":"1","filepath":"/home/pi/images/","fileformat":"jpeg","resolution":"1","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Photo","x":305,"y":1430,"wires":[["ba3f9f70.53c73"]]},{"id":"b6b3b263.9ce27","type":"function","z":"7c5755a3.07d8ec","name":"Set IoTF image","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"image\",\n            \"timestamp\" : new Date(),\n            \"url\": msg.url,\n            \"gender\": \"unknown\",\n            \"age\" : 999\n        }\n    }; \n\n// set the gender and the age from the picture    \nif (msg.result.images.length >= 0) {\n    if (msg.result.images[0].faces.length > 0) {\n        sensor.d.gender = msg.result.images[0].faces[0].gender.gender + \"(\" + msg.result.images[0].faces[0].gender.score + \")\";\n        sensor.d.age = msg.result.images[0].faces[0].age.max;\n    }\n}\n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":673,"y":1527,"wires":[["b8333d56.d3bbf","193b03ad.2185ac"]]},{"id":"b8333d56.d3bbf","type":"wiotp out","z":"7c5755a3.07d8ec","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":864,"y":1526,"wires":[]},{"id":"193b03ad.2185ac","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"false","x":870,"y":1477,"wires":[]},{"id":"e423ab0b.81b578","type":"debug","z":"7c5755a3.07d8ec","name":"","active":false,"console":"false","complete":"true","x":488,"y":1447,"wires":[]},{"id":"a432b1d3.a0dc2","type":"visual-recognition-v3","z":"7c5755a3.07d8ec","name":"Detect Faces","apikey":"46bd0eed187ec73b4ea37d459932a16e3ddd3d54","image-feature":"detectFaces","x":468,"y":1527.5,"wires":[["a0103eb5.ddda7","b6b3b263.9ce27"]]},{"id":"6f5cb6b2.51c788","type":"function","z":"7c5755a3.07d8ec","name":"set url","func":"msg.payload = msg.url;\n\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":1527.5,"wires":[["a432b1d3.a0dc2"]]},{"id":"a0103eb5.ddda7","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"true","x":647,"y":1480,"wires":[]},{"id":"ba3f9f70.53c73","type":"os-put","z":"7c5755a3.07d8ec","name":"Put the Photo","container":"Pictures","objectname":"","objectmode":"0","imageformat":"jpeg","audioformat":"wav","filepath":"/home/pi/Pictures/","filename":"dashboard.jpg","formattype":"0","mode":"0","osconfig":"66aec125.9080c","x":314,"y":1475,"wires":[["6f5cb6b2.51c788","e423ab0b.81b578"]]},{"id":"dd3c5182.12a85","type":"watson-translator","z":"7c5755a3.07d8ec","name":"Translator","action":"translate","basemodel":"ar-en","domain":"news","srclang":"de","destlang":"en","password":"TYuZM6jD04i6","custom":"","domainhidden":"news","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"true","x":469,"y":514,"wires":[["22349cda.0e6a84","26229b5a.e53df4"]]},{"id":"e56a0b6a.44abd8","type":"watson-text-to-speech","z":"7c5755a3.07d8ec","name":"Text2Speach","lang":"de-DE","langhidden":"de-DE","langcustomhidden":"","voice":"de-DE_BirgitVoice","voicehidden":"","format":"audio/wav","password":"GX0sH8KLnAug","x":689,"y":659,"wires":[["d4f917a1.549638","4f3b5f41.acb4"]]},{"id":"f08c7603.b48a18","type":"inject","z":"7c5755a3.07d8ec","name":"Start Test","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":101,"y":393,"wires":[["c542d2cb.a7d6f"]]},{"id":"c542d2cb.a7d6f","type":"function","z":"7c5755a3.07d8ec","name":"Test Message","func":"msg.payload = \"Dies ist ein Test\";\nmsg.srclang = \"de\";\nmsg.destlang =\"en\";\n\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":393,"wires":[["dd3c5182.12a85"]]},{"id":"3630ea3a.e7fd16","type":"function","z":"7c5755a3.07d8ec","name":"Set IoTF microphone","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"microphone\",\n            \"timestamp\" : new Date(),\n            \"text\": \"Dies ist eine wunderbare Mikrofon aufnahme!!\"\n        }\n    }; \n\nsensor.d.text = msg.transcription;\n\nmsg.payload = JSON.stringify(sensor);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":921,"y":1694,"wires":[["f84b3a28.a84708","5ee312f6.608fbc"]]},{"id":"f84b3a28.a84708","type":"wiotp out","z":"7c5755a3.07d8ec","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":1171,"y":1695,"wires":[]},{"id":"5ee312f6.608fbc","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"payload","x":1171,"y":1638,"wires":[]},{"id":"b3540d71.e591a","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"get-text","commandType":"g","name":"IoTF Get-Text","x":94,"y":1659,"wires":[["ba19479f.449cd8","98043b06.de3548"]]},{"id":"2bb7c9c3.f74a46","type":"comment","z":"7c5755a3.07d8ec","name":"GrovePi-0 (GrovePi-oh) Receive from IoTF","info":"","x":180,"y":63,"wires":[]},{"id":"657fe6e3.3e2f48","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"transcription","x":913,"y":1620,"wires":[]},{"id":"55d4efa0.80ab","type":"wiotp in","z":"7c5755a3.07d8ec","authType":"d","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","command":"get-weather","commandType":"g","name":"IoTF Get-Weather","x":114,"y":1883,"wires":[["ea49b1a6.36491","22da7c29.8cdb74"]]},{"id":"b50b4d8e.770d7","type":"function","z":"7c5755a3.07d8ec","name":"Set IoTF Weather","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"weather\",\n            \"timestamp\" : new Date(),\n            \"text\": \"Wetter Info\",\n            \"code\" : \"0\"\n        }\n    }; \n\nsensor.d.text = msg.payload.weathertext;\nsensor.d.code = msg.payload.code;\n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":551,"y":1996,"wires":[["a5ad75d.6e55688","f128ed0b.8cb9a"]]},{"id":"a5ad75d.6e55688","type":"wiotp out","z":"7c5755a3.07d8ec","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5e6fb10e.7ac94","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":789,"y":1996,"wires":[]},{"id":"f128ed0b.8cb9a","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"payload","x":788,"y":1937,"wires":[]},{"id":"6ad69f31.ac572","type":"microPi","z":"7c5755a3.07d8ec","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"5","debug":"false","mode":"666","x":448,"y":1658.5,"wires":[[],["a35b3e29.f1ea9","bd4a3910.92bbb8"],[]]},{"id":"ba19479f.449cd8","type":"function","z":"7c5755a3.07d8ec","name":"Start or Stop ","func":"if (msg.payload.d.cmd == \"start\") {\n    msg.payload = true;    \n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":1659,"wires":[["6ad69f31.ac572"]]},{"id":"a35b3e29.f1ea9","type":"watson-speech-to-text","z":"7c5755a3.07d8ec","name":"Speach to Text","continuous":true,"speakerlabels":false,"lang":"en-UK","langhidden":"en-UK","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"5L2fmwFZzHSY","x":709,"y":1660,"wires":[["657fe6e3.3e2f48","3630ea3a.e7fd16"]]},{"id":"98043b06.de3548","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"false","x":286,"y":1608,"wires":[]},{"id":"d730687f.be63b8","type":"speakerpi-output","z":"7c5755a3.07d8ec","choose":"givenfile","filename":"/home/pi/audio/demo.wav","channels":"1","bitdepth":"8","samplerate":"22050","name":"Spoken file","x":844,"y":1753,"wires":[]},{"id":"bd4a3910.92bbb8","type":"delay","z":"7c5755a3.07d8ec","name":"Wait","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":651,"y":1753,"wires":[["d730687f.be63b8"]]},{"id":"ea49b1a6.36491","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"false","x":320,"y":1832,"wires":[]},{"id":"64d80c44.f621e4","type":"speakerpi-output","z":"7c5755a3.07d8ec","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"22050","name":"Weather","x":918,"y":1884,"wires":[]},{"id":"22da7c29.8cdb74","type":"function","z":"7c5755a3.07d8ec","name":"set text2speach","func":"msg.orig = msg.payload.d;\n\nweathertext = \"\";\nweather = msg.payload.d.forecasts;\n\nif (msg.payload.d.language == \"en-US\") { \n    msg.voice = \"en-GB_KateVoice\";\n    weathertext = \"The Weather in \";\n    weathertext = weathertext + msg.payload.d.location + \" will be on \";\n}\nif (msg.payload.d.language == \"de-DE\") { \n    msg.voice = \"de-DE_BirgitVoice\";\n    weathertext = \"Das Wetter in \";\n    weathertext = weathertext + msg.payload.d.location + \" wird am \";\n}\n\nif (weather.length > 0 ) {\n    narrative = weather[0].narrative; \n    dow = weather[0].dow;\n    weathertext = weathertext + dow + \" \" + narrative;\n    if (typeof weather[0].day !== \"undefined\") {\n        code = weather[0].day.icon_code;\n    } else if (typeof weather[0].night !== \"undefined\") {\n        code = weather[0].night.icon_code;\n    }\n} else {\n    weathertext = \"No Weather found!\"\n}\n\nmsg.payload.weathertext = weathertext;\nmsg.payload.code = code;\n\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":1883,"wires":[["b50b4d8e.770d7","32c3cbbf.0d2e54","55f6dea4.8127"]]},{"id":"f5a7ac31.684f9","type":"watson-text-to-speech","z":"7c5755a3.07d8ec","name":"Text2Speach","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"GX0sH8KLnAug","x":727,"y":1884,"wires":[["64d80c44.f621e4"]]},{"id":"32c3cbbf.0d2e54","type":"debug","z":"7c5755a3.07d8ec","name":"","active":true,"console":"false","complete":"orig.forecasts[1]","x":569,"y":1825,"wires":[]},{"id":"55f6dea4.8127","type":"change","z":"7c5755a3.07d8ec","name":"Weathertext","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weathertext","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":542,"y":1884,"wires":[["f5a7ac31.684f9"]]},{"id":"5e6fb10e.7ac94","type":"wiotp-credentials","z":"7c5755a3.07d8ec","name":"Bluemix IoTF","org":"frjtub","devType":"grovepi","devId":"grovepi-0"},{"id":"dcb86b5.7d7cc98","type":"board-config","z":"7c5755a3.07d8ec","board":"GrovePi"},{"id":"4245312.a5720d","type":"board-config","z":"7c5755a3.07d8ec","board":"GrovePi"},{"id":"66aec125.9080c","type":"os-config","z":"7c5755a3.07d8ec","cfgtype":"api","region":"dallas","tendantId":"e8b87e1db0484de19ae754d28340cef7","userId":"16d78e393a66467591685b327ed5103f","userName":"Admin_0405656e4e979642322294dc7c83bfe1a6a391c6","password":"Bmk6rVWxWf}(9HFe","name":"Bluemix Service"}]