Flows/Raspi-GrovePi/Tab3-ChatBot.json
[{"id":"a6a06be3.519938","type":"inject","z":"85b0bf81.062f6","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":106,"y":70,"wires":[["d820b3c.b60635"]]},{"id":"d820b3c.b60635","type":"microPi","z":"85b0bf81.062f6","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"5","debug":"false","mode":"666","x":283,"y":135.5,"wires":[[],["96d481e0.37406","fa2ab2d7.2d489","b2735924.883b68"],[]]},{"id":"96d481e0.37406","type":"debug","z":"85b0bf81.062f6","name":"","active":true,"console":"false","complete":"false","x":498,"y":69,"wires":[]},{"id":"fa2ab2d7.2d489","type":"speakerpi-output","z":"85b0bf81.062f6","choose":"givenfile","filename":"/home/pi/audio/demo.wav","channels":"1","bitdepth":"8","samplerate":"22050","name":"Play","x":474,"y":136,"wires":[]},{"id":"b2735924.883b68","type":"watson-speech-to-text","z":"85b0bf81.062f6","name":"Speech2Text","continuous":true,"speakerlabels":true,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"5L2fmwFZzHSY","x":494,"y":196,"wires":[["f7506585.b17578","1b7e52a9.d9bc3d"]]},{"id":"736ee6f7.c5ea48","type":"inject","z":"85b0bf81.062f6","name":"Stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":101,"y":173,"wires":[["d820b3c.b60635"]]},{"id":"f7506585.b17578","type":"change","z":"85b0bf81.062f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"human","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":703,"y":195,"wires":[["f7e229a7.c62d78","e4f17dc2.ffec5","61910f53.9cda7"]]},{"id":"1b7e52a9.d9bc3d","type":"debug","z":"85b0bf81.062f6","name":"Transcript","active":true,"console":"false","complete":"fullresult","x":693,"y":126,"wires":[]},{"id":"f7e229a7.c62d78","type":"watson-conversation-v1","z":"85b0bf81.062f6","name":"IoT-Chatbot","workspaceid":"204cb6a3-56d9-4242-847b-39254cca5612","multiuser":false,"context":true,"x":595,"y":884,"wires":[["adc66c9a.36cd6","e85b5b3d.c6d8c8","c5ebfd09.3fa16"]]},{"id":"e4f17dc2.ffec5","type":"debug","z":"85b0bf81.062f6","name":"","active":false,"console":"false","complete":"payload","x":999,"y":198,"wires":[]},{"id":"61910f53.9cda7","type":"function","z":"85b0bf81.062f6","name":"Timestamp","func":"    //create date object from timestamp injected in\n    var dt = new Date(); \n    msg.timestamp = new Date().toString();\n\n    msg.filename = \"/home/pi/IoTChatbot-log.csv\";\n\treturn msg;","outputs":1,"noerr":0,"x":1435,"y":604,"wires":[["904f7c50.47f5f"]]},{"id":"adc66c9a.36cd6","type":"debug","z":"85b0bf81.062f6","name":"","active":true,"console":"false","complete":"payload","x":766,"y":772,"wires":[]},{"id":"e85b5b3d.c6d8c8","type":"change","z":"85b0bf81.062f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"watson","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1105,"y":1024,"wires":[["c8dce996.79b4b8","61910f53.9cda7"]]},{"id":"c5ebfd09.3fa16","type":"function","z":"85b0bf81.062f6","name":"Context Demultiplexer","func":"return  [\n            {payload:(msg.payload.context.led_green === true ? true : false)},\n            {payload:(msg.payload.context.led_yellow === true ? true : false)},\n            {payload:(msg.payload.context.led_red === true ? true : false)},\n            {payload:(msg.payload.context.buzzer === true ? \"1\" : \"0\")},\n            {payload:(msg.payload.context.diplay_color === true ? msg.payload.context.diplay_color : false)},\n            {data:msg.payload.context, topic:context}\n        ];\n","outputs":"6","noerr":0,"x":1145,"y":1484,"wires":[["4c6f5751.f8ce58"],["b6f828a7.614d88"],["66dba84a.6728d8"],["16c7f5bf.7053ea"],["fdf88f38.0d604"],["6a4df0d1.7aa38"]]},{"id":"51380314.e15b1c","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Turn on the green led","payloadType":"str","repeat":"","crontab":"","once":false,"x":105,"y":804,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"6c84cca6.eb8784","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":55,"y":744,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"a031d6f9.d4bac8","type":"inject","z":"85b0bf81.062f6","name":"display color red","topic":"","payload":"Change the display color to red","payloadType":"str","repeat":"","crontab":"","once":false,"x":85,"y":1004,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"48393352.03378c","type":"inject","z":"85b0bf81.062f6","name":"display color yellow","topic":"","payload":"Change the display color to yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":1024,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"6b89719b.df865","type":"inject","z":"85b0bf81.062f6","name":"display color green","topic":"","payload":"Change the display color to green","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":1044,"wires":[["f7e229a7.c62d78"]]},{"id":"ed7f44b4.6f0348","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Turn on the yellow led","payloadType":"str","repeat":"","crontab":"","once":false,"x":105,"y":824,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"9c159943.eb15f8","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Turn on the red led","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":844,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"e6c50813.5a7a48","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Turn on the buzzer","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":1104,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"71e1e111.01c49","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Turn off the green led","payloadType":"str","repeat":"","crontab":"","once":false,"x":105,"y":904,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"169a1227.27b89e","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Turn off the yellow led","payloadType":"str","repeat":"","crontab":"","once":false,"x":105,"y":924,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"5ac49334.b0b09c","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Turn off the red led","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":944,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"b0f7069a.b33af8","type":"inject","z":"85b0bf81.062f6","name":"","topic":"","payload":"Turn off the buzzer","payloadType":"str","repeat":"","crontab":"","once":false,"x":95.25,"y":1148.75,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"65c68813.a07018","type":"function","z":"85b0bf81.062f6","name":"","func":"msg.params.context = \"reset\";\nreturn msg;","outputs":1,"noerr":0,"x":115,"y":684,"wires":[["f7e229a7.c62d78","9fbd6b95.24be08"]]},{"id":"9fbd6b95.24be08","type":"change","z":"85b0bf81.062f6","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"human","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":605,"y":924,"wires":[["61910f53.9cda7"]]},{"id":"904f7c50.47f5f","type":"template","z":"85b0bf81.062f6","name":"Convert to CSV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}},{{topic}},{{data}};","x":1865,"y":584,"wires":[["d76dcbd.5b65038","6c8b67b5.e0c7b8","b1176721.e96fb8"]]},{"id":"6a4df0d1.7aa38","type":"json","z":"85b0bf81.062f6","name":"","x":1215,"y":1564,"wires":[["61910f53.9cda7"]]},{"id":"c8dce996.79b4b8","type":"play audio","z":"85b0bf81.062f6","name":"","voice":"2","x":1315,"y":1104,"wires":[]},{"id":"4c6f5751.f8ce58","type":"grove digital output","z":"85b0bf81.062f6","name":"Green LED","board":"694d72b6.bccd8c","pin":"7","x":1540,"y":1345,"wires":[]},{"id":"b6f828a7.614d88","type":"rpi-gpio out","z":"85b0bf81.062f6","name":"LED YELLOW","pin":"11","set":true,"level":"0","out":"out","x":1565,"y":1464,"wires":[]},{"id":"66dba84a.6728d8","type":"grove digital output","z":"85b0bf81.062f6","name":"Red LED","board":"694d72b6.bccd8c","pin":"8","x":1534,"y":1527,"wires":[]},{"id":"16c7f5bf.7053ea","type":"grove digital output","z":"85b0bf81.062f6","name":"Buzzer","board":"694d72b6.bccd8c","pin":"6","x":1534,"y":1589,"wires":[]},{"id":"fdf88f38.0d604","type":"debug","z":"85b0bf81.062f6","name":"Display Color","active":true,"console":"false","complete":"payload","x":1565,"y":1684,"wires":[]},{"id":"692fd0fe.30743","type":"inject","z":"85b0bf81.062f6","name":"Reset Context","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":75,"y":684,"wires":[["65c68813.a07018"]]},{"id":"d76dcbd.5b65038","type":"debug","z":"85b0bf81.062f6","name":"","active":true,"console":"true","complete":"true","x":2355,"y":564,"wires":[]},{"id":"6c8b67b5.e0c7b8","type":"file","z":"85b0bf81.062f6","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2155,"y":644,"wires":[]},{"id":"b1176721.e96fb8","type":"file in","z":"85b0bf81.062f6","name":"","filename":"","format":"utf8","x":2155,"y":684,"wires":[["996a200a.43ee"]]},{"id":"996a200a.43ee","type":"debug","z":"85b0bf81.062f6","name":"","active":true,"console":"false","complete":"payload","x":2375,"y":604,"wires":[]},{"id":"694d72b6.bccd8c","type":"board-config","z":"","board":"GrovePi"}]