Flows/Raspi-GrovePi/Tab4-Education.json
[{"id":"8208719e.37a7b","type":"comment","z":"3d4d1897.fdc2f8","name":"GrovePi Demonstration Flows","info":"","x":152,"y":38,"wires":[]},{"id":"707883f4.f6347c","type":"grove digital sensor","z":"3d4d1897.fdc2f8","name":"Temp_Hum","board":"919590f7.431cd","sensor":"dht11","repeat":"1","pin":"2","x":99,"y":187,"wires":[["3839952b.77041a","5be44ec4.368b","ad3a967c.8ae528"]]},{"id":"3839952b.77041a","type":"debug","z":"3d4d1897.fdc2f8","name":"","active":false,"console":"false","complete":"false","x":318,"y":124,"wires":[]},{"id":"5be44ec4.368b","type":"switch","z":"3d4d1897.fdc2f8","name":"Temp","property":"payload.temperature","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"btwn","v":"20","vt":"num","v2":"28","v2t":"num"},{"t":"gt","v":"28","vt":"str"}],"checkall":"true","outputs":3,"x":308,"y":186,"wires":[["568afd36.1a1d14"],["a8c9ee06.3d71"],["f5a32313.b918b"]]},{"id":"568afd36.1a1d14","type":"template","z":"3d4d1897.fdc2f8","name":"to cold","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It is to cold at {{payload.temperature}} !","x":526,"y":146,"wires":[["ff255218.7d1e5"]]},{"id":"a8c9ee06.3d71","type":"template","z":"3d4d1897.fdc2f8","name":"fine","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The temp is {{payload.temperature}} !","x":526,"y":186,"wires":[["7388a401.9406cc"]]},{"id":"f5a32313.b918b","type":"template","z":"3d4d1897.fdc2f8","name":"to hot","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It is hot at {{payload.temperature}} !","x":523,"y":229,"wires":[["3a1c4350.4e605c"]]},{"id":"ff255218.7d1e5","type":"change","z":"3d4d1897.fdc2f8","name":"Blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"rgb\":[0,0,255]}","tot":"json"},{"t":"set","p":"payload.text","pt":"msg","to":"text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":678,"y":146,"wires":[["125ab68b.b30249","b8ba8142.801b8"]]},{"id":"125ab68b.b30249","type":"debug","z":"3d4d1897.fdc2f8","name":"","active":true,"console":"false","complete":"true","x":890,"y":105,"wires":[]},{"id":"b8ba8142.801b8","type":"grove lcdrgb output","z":"3d4d1897.fdc2f8","name":"LCD","board":"919590f7.431cd","pin":"1","x":892,"y":186,"wires":[]},{"id":"7388a401.9406cc","type":"change","z":"3d4d1897.fdc2f8","name":"Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"rgb\":[0,255,0]}","tot":"json"},{"t":"set","p":"payload.text","pt":"msg","to":"text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":681,"y":186,"wires":[["b8ba8142.801b8"]]},{"id":"3a1c4350.4e605c","type":"change","z":"3d4d1897.fdc2f8","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"rgb\":[255,0,0]}","tot":"json"},{"t":"set","p":"payload.text","pt":"msg","to":"text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":229,"wires":[["b8ba8142.801b8"]]},{"id":"bad6ff2.1ca3d","type":"grove digital sensor","z":"3d4d1897.fdc2f8","name":"Distanz","board":"919590f7.431cd","sensor":"ultrasonic","repeat":"1","pin":"3","x":93,"y":421,"wires":[["74c623bc.76f68c","94ef3f29.d2f2e","e4f0cad1.22e458"]]},{"id":"74c623bc.76f68c","type":"debug","z":"3d4d1897.fdc2f8","name":"","active":false,"console":"false","complete":"false","x":287,"y":323,"wires":[]},{"id":"6407ff7b.859b9","type":"grove digital output","z":"3d4d1897.fdc2f8","name":"Green","board":"919590f7.431cd","pin":"7","x":792,"y":479,"wires":[]},{"id":"ea937639.94d158","type":"grove digital output","z":"3d4d1897.fdc2f8","name":"Red","board":"919590f7.431cd","pin":"8","x":796,"y":360,"wires":[]},{"id":"fd53def2.97582","type":"grove digital output","z":"3d4d1897.fdc2f8","name":"Blue","board":"919590f7.431cd","pin":"5","x":792,"y":419,"wires":[]},{"id":"94ef3f29.d2f2e","type":"switch","z":"3d4d1897.fdc2f8","name":"Distance","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"btwn","v":"50","vt":"num","v2":"100","v2t":"num"},{"t":"gt","v":"100","vt":"num"}],"checkall":"true","outputs":3,"x":283,"y":421,"wires":[["694c255a.a6b57c"],["d0c76d32.c1cb9"],["bca48d55.5c0e"]]},{"id":"694c255a.a6b57c","type":"change","z":"3d4d1897.fdc2f8","name":"Led Rot","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"red\":true, \"green\":false,\"blue\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":468,"y":371,"wires":[["6bd6c9d3.02df78"]]},{"id":"d0c76d32.c1cb9","type":"change","z":"3d4d1897.fdc2f8","name":"Led Blau","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"red\":false, \"green\":false,\"blue\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":467,"y":421,"wires":[["6bd6c9d3.02df78"]]},{"id":"bca48d55.5c0e","type":"change","z":"3d4d1897.fdc2f8","name":"Led Grün","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"red\":false, \"green\":true,\"blue\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":469,"y":471,"wires":[["6bd6c9d3.02df78"]]},{"id":"6bd6c9d3.02df78","type":"function","z":"3d4d1897.fdc2f8","name":"set on/off","func":"var red = { payload: msg.payload.red };\nvar blue = { payload: msg.payload.blue };\nvar green = { payload: msg.payload.green };\n\nreturn [red, blue, green];","outputs":"3","noerr":0,"x":632,"y":420,"wires":[["ea937639.94d158"],["fd53def2.97582"],["6407ff7b.859b9"]]},{"id":"f084d9ce.03a498","type":"grove analog sensor","z":"3d4d1897.fdc2f8","name":"Sound","pin":"0","sensor":"sound","repeat":"1","board":"919590f7.431cd","x":84,"y":609,"wires":[["e1c03e1e.2974d"]]},{"id":"e1c03e1e.2974d","type":"debug","z":"3d4d1897.fdc2f8","name":"","active":false,"console":"false","complete":"false","x":285,"y":565,"wires":[]},{"id":"e940a0ad.b5c6f","type":"grove analog sensor","z":"3d4d1897.fdc2f8","name":"Light","pin":"1","sensor":"sound","repeat":"1","board":"919590f7.431cd","x":82,"y":723,"wires":[["ffd8065b.e139d8"]]},{"id":"ffd8065b.e139d8","type":"debug","z":"3d4d1897.fdc2f8","name":"","active":false,"console":"false","complete":"false","x":289,"y":688,"wires":[]},{"id":"3291ac2a.6ab754","type":"grove digital sensor","z":"3d4d1897.fdc2f8","name":"Button","board":"919590f7.431cd","sensor":"button","repeat":"1","pin":"4","x":84,"y":834,"wires":[["ddba231e.49d84"]]},{"id":"ddba231e.49d84","type":"debug","z":"3d4d1897.fdc2f8","name":"","active":false,"console":"false","complete":"false","x":275,"y":799,"wires":[]},{"id":"647c3b22.216ab4","type":"ui_gauge","z":"3d4d1897.fdc2f8","name":"","group":"d474e183.a7ccc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degrees","format":"{{value}}","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":543,"y":274,"wires":[]},{"id":"ad3a967c.8ae528","type":"change","z":"3d4d1897.fdc2f8","name":"set temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":311,"y":274,"wires":[["647c3b22.216ab4"]]},{"id":"e4f0cad1.22e458","type":"ui_gauge","z":"3d4d1897.fdc2f8","name":"","group":"d474e183.a7ccc","order":0,"width":0,"height":0,"gtype":"wave","title":"Distance","label":"mm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"x":286,"y":506,"wires":[]},{"id":"919590f7.431cd","type":"board-config","z":"","board":"GrovePi"},{"id":"d474e183.a7ccc","type":"ui_group","z":"","name":"Dashboard","tab":"976898f3.0b1098","disp":true,"width":"6"},{"id":"976898f3.0b1098","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]