Flows/Bluemix-GrovePi/Tab1-ReceiveIoTF.json
[{"id":"92b8ce3f.fa3b7","type":"ibmiot in","z":"bd9840c.19d6bc","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"grovepi-0","applicationId":"","deviceType":"grovepi","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":107,"y":264,"wires":[["fa9abfdf.87eef","9a4caa51.7d9078","df760980.031c88","a48c52c5.662c1"]]},{"id":"fa9abfdf.87eef","type":"debug","z":"bd9840c.19d6bc","name":"device data","active":false,"console":"false","complete":"true","x":359.50001525878906,"y":97,"wires":[]},{"id":"9a4caa51.7d9078","type":"cloudant out","z":"bd9840c.19d6bc","name":"Store in CloudantDB","cloudant":"","database":"sensor-data","service":"WatsonIoT-Controller-cloudantNoSQLDB","payonly":true,"operation":"insert","x":385.40003967285156,"y":163.36668395996094,"wires":[]},{"id":"df760980.031c88","type":"switch","z":"bd9840c.19d6bc","name":"","property":"payload.d.sensor","propertyType":"msg","rules":[{"t":"eq","v":"temphum","vt":"str"},{"t":"eq","v":"ultrasonic","vt":"str"},{"t":"eq","v":"sound","vt":"str"},{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"microphone","vt":"str"},{"t":"eq","v":"weather","vt":"str"}],"checkall":"true","outputs":7,"x":297.7333221435547,"y":585.7666778564453,"wires":[["5b301d2a.736074"],["1feccb30.7e0a35"],["a38c79be.74f7c8"],["2488f02.1e87d1"],["22cf4c3.1ea5bb4"],["22cf4c3.1ea5bb4"],["22cf4c3.1ea5bb4"]]},{"id":"a48c52c5.662c1","type":"websocket out","z":"bd9840c.19d6bc","name":"Send Dashboard","server":"c729a09d.d8b38","client":"","x":362.7333679199219,"y":263.36668395996094,"wires":[]},{"id":"5b301d2a.736074","type":"function","z":"bd9840c.19d6bc","name":"temperature","func":"msg.save = msg.payload.d;\n\nreturn {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":520.5,"y":319,"wires":[["8e504eda.88da"]]},{"id":"1feccb30.7e0a35","type":"function","z":"bd9840c.19d6bc","name":"distance","func":"msg.save = msg.payload.d;\n\nreturn {payload:msg.payload.d.distance};","outputs":1,"noerr":0,"x":503.36668395996094,"y":510.36668395996094,"wires":[["26cbc8d5.74a768","864c9be3.2a8978"]]},{"id":"a38c79be.74f7c8","type":"function","z":"bd9840c.19d6bc","name":"sound","func":"return {payload:msg.payload.d.sound};\n","outputs":1,"noerr":0,"x":502.36668395996094,"y":645.5000457763672,"wires":[["32e7ec32.3a9c84"]]},{"id":"2488f02.1e87d1","type":"function","z":"bd9840c.19d6bc","name":"light","func":"return {payload:msg.payload.d.light};\n","outputs":1,"noerr":0,"x":503.36668395996094,"y":800.5000457763672,"wires":[["80923b5e.c2e2f8"]]},{"id":"22cf4c3.1ea5bb4","type":"debug","z":"bd9840c.19d6bc","name":"","active":true,"console":"false","complete":"payload","x":511.00001525878906,"y":917.0000152587891,"wires":[]},{"id":"8e504eda.88da","type":"rbe","z":"bd9840c.19d6bc","name":"Block 2% change ","func":"deadband","gap":"2%","start":"","inout":"in","x":729.2333831787109,"y":319.43333435058594,"wires":[["53e50def.312074"]]},{"id":"26cbc8d5.74a768","type":"debug","z":"bd9840c.19d6bc","name":"","active":false,"console":"false","complete":"false","x":727.3667144775391,"y":447.61668395996094,"wires":[]},{"id":"864c9be3.2a8978","type":"rbe","z":"bd9840c.19d6bc","name":"Block 2% change","func":"deadband","gap":"2%","start":"","inout":"out","x":735.9834442138672,"y":510.2666473388672,"wires":[["7e0dbf70.8fd9e"]]},{"id":"32e7ec32.3a9c84","type":"switch","z":"bd9840c.19d6bc","name":"sound tresh","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"350","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":680.3667144775391,"y":645.5000152587891,"wires":[["4211f7e7.d35f58"],["f5d46995.a620d8"]]},{"id":"80923b5e.c2e2f8","type":"switch","z":"bd9840c.19d6bc","name":"light tresh","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"str"},{"t":"lt","v":"500","vt":"str"}],"checkall":"true","outputs":2,"x":676.3666839599609,"y":800.5000457763672,"wires":[["f66c0c7e.48645"],["3bb0a12.c43015e"]]},{"id":"53e50def.312074","type":"switch","z":"bd9840c.19d6bc","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":929.5000152587891,"y":318.99998474121094,"wires":[["a87722f3.22f34"],["bbb29dfd.66835"]]},{"id":"7e0dbf70.8fd9e","type":"switch","z":"bd9840c.19d6bc","name":"distance tresh","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"btwn","v":"20","vt":"num","v2":"40","v2t":"num"},{"t":"else"}],"checkall":"true","outputs":3,"x":955.3667144775391,"y":510.36668395996094,"wires":[["5da952a1.7f228c"],["a555ddf5.d4ec2"],["fac06fda.8032d"]]},{"id":"4211f7e7.d35f58","type":"template","z":"bd9840c.19d6bc","name":"is ok","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sound ({{payload}}) is ok!","x":888.3666839599609,"y":613.0000457763672,"wires":[["d6481b02.9dffd8"]]},{"id":"f5d46995.a620d8","type":"template","z":"bd9840c.19d6bc","name":"is too loud","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sound ({{payload}}) is too loud","x":893.3666839599609,"y":670.0000457763672,"wires":[["d6481b02.9dffd8"]]},{"id":"f66c0c7e.48645","type":"template","z":"bd9840c.19d6bc","name":"is intense","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Light ({{payload}}) is intense","x":886.3666839599609,"y":770.0000457763672,"wires":[["97a4277d.dc0c28"]]},{"id":"3bb0a12.c43015e","type":"template","z":"bd9840c.19d6bc","name":"is dark","field":"text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Light ({{payload}}) is dark","x":879.3666839599609,"y":827.0000457763672,"wires":[["97a4277d.dc0c28"]]},{"id":"a87722f3.22f34","type":"template","z":"bd9840c.19d6bc","name":"safe","field":"text","fieldType":"msg","syntax":"mustache","template":"Temp ({{payload}})     is ok","x":1097.500015258789,"y":269.99998474121094,"wires":[["9868b231.9361"]]},{"id":"bbb29dfd.66835","type":"template","z":"bd9840c.19d6bc","name":"danger","field":"text","fieldType":"msg","syntax":"mustache","template":"Temp ({{payload}})     is critical","x":1097.500015258789,"y":367.99998474121094,"wires":[["fbf1959e.4a4678"]]},{"id":"5da952a1.7f228c","type":"change","z":"bd9840c.19d6bc","name":"Set Red","rules":[{"t":"set","p":"led","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"turnon","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1144.366714477539,"y":466.36668395996094,"wires":[["4defea2c.f7f6c4"]]},{"id":"a555ddf5.d4ec2","type":"change","z":"bd9840c.19d6bc","name":"Set Green","rules":[{"t":"set","p":"led","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"turnon","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1143.500015258789,"y":510.11668395996094,"wires":[["4defea2c.f7f6c4"]]},{"id":"fac06fda.8032d","type":"change","z":"bd9840c.19d6bc","name":"Set All Off","rules":[{"t":"set","p":"led","pt":"msg","to":"all off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1143.500015258789,"y":553.1166839599609,"wires":[["4defea2c.f7f6c4"]]},{"id":"d6481b02.9dffd8","type":"debug","z":"bd9840c.19d6bc","name":"Sound status","active":false,"complete":"text","x":1076.499984741211,"y":638.2500457763672,"wires":[]},{"id":"97a4277d.dc0c28","type":"debug","z":"bd9840c.19d6bc","name":"light status","active":false,"complete":"text","x":1060.499984741211,"y":794.2500457763672,"wires":[]},{"id":"9868b231.9361","type":"change","z":"bd9840c.19d6bc","name":"Set RGB","rules":[{"t":"set","p":"red","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"green","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"blue","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1244.733413696289,"y":269.7666778564453,"wires":[["6dcc54c1.f6184c"]]},{"id":"fbf1959e.4a4678","type":"change","z":"bd9840c.19d6bc","name":"Set RGB","rules":[{"t":"set","p":"red","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"green","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"blue","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1249.633316040039,"y":368.36668395996094,"wires":[["6dcc54c1.f6184c"]]},{"id":"4defea2c.f7f6c4","type":"function","z":"bd9840c.19d6bc","name":"Set LED","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"led\" : msg.led,\n        \"toggle\": true, \n        \"turnon\": msg.turnon\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":1327.500015258789,"y":510.61668395996094,"wires":[["b30fb71a.b67b78","9def62ce.d98dc"]]},{"id":"6dcc54c1.f6184c","type":"function","z":"bd9840c.19d6bc","name":"Set LCD","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"cmd\" : \"temperature\",\n        \"text\" : msg.text,\n        \"rgb\" : [msg.red, msg.green, msg.blue]\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":1416.733413696289,"y":319.0333709716797,"wires":[["60b9ceaf.c5d14","a3c923c3.fb095"]]},{"id":"b30fb71a.b67b78","type":"debug","z":"bd9840c.19d6bc","name":"","active":false,"console":"false","complete":"false","x":1511.500015258789,"y":442.36668395996094,"wires":[]},{"id":"9def62ce.d98dc","type":"ibmiot out","z":"bd9840c.19d6bc","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"set-led","format":"json","data":"payload","name":"Set Led","service":"registered","x":1498.699966430664,"y":510.36668395996094,"wires":[]},{"id":"60b9ceaf.c5d14","type":"debug","z":"bd9840c.19d6bc","name":"LCD Command","active":false,"console":"false","complete":"payload","x":1604.500015258789,"y":246.99998474121094,"wires":[]},{"id":"a3c923c3.fb095","type":"ibmiot out","z":"bd9840c.19d6bc","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"set-lcd","format":"json","data":"payload","name":"Set Lcd","service":"registered","x":1591.733413696289,"y":318.36668395996094,"wires":[]},{"id":"9ff38105.351b6","type":"comment","z":"bd9840c.19d6bc","name":"WatsonIoT-Controller-Receive IoTF","info":"","x":157,"y":40,"wires":[]},{"id":"c729a09d.d8b38","type":"websocket-listener","z":"bd9840c.19d6bc","path":"/ws/grovepi0","wholemsg":"false"}]