Flows/Bluemix-GrovePi/Tab2-GetDashboard.json
[{"id":"6de6778c.280578","type":"comment","z":"834a2261.b0895","name":"WatsonIoT-Controller GetWeb Dashboard","info":"","x":191,"y":54,"wires":[]},{"id":"a57d6b19.0b2448","type":"http in","z":"834a2261.b0895","name":"Get Led","url":"/grovepi0-led","method":"put","swaggerDoc":"","x":86,"y":161.13327026367188,"wires":[["4d1027a6.54de28","c3da8a9a.315cc8"]]},{"id":"19b6a53f.80debb","type":"http in","z":"834a2261.b0895","name":"Get Speak","url":"/grovepi0-speak","method":"put","swaggerDoc":"","x":94.01669311523438,"y":372.93328857421875,"wires":[["e2a7df1c.9d0da","5bee2353.fa8dec"]]},{"id":"e2a7df1c.9d0da","type":"function","z":"834a2261.b0895","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"speak\" : msg.payload.message,\n        \"srclang\" : msg.payload.srclang,\n        \"destlang\" : msg.payload.destlang,\n        \"sentiment\" : 0,\n        \"voice\" : msg.payload.voice,\n        \"lightr\" : \"000\",\n        \"lightg\" : \"000\",\n        \"lightb\" : \"000\"\n    }\n}\n\nmsg.payload = msg.payload.message;\nmsg.devEvent = devEvent;\n\nreturn msg;","outputs":"1","noerr":0,"x":322.0166931152344,"y":410.93328857421875,"wires":[["955b63dc.99fe1"]]},{"id":"955b63dc.99fe1","type":"sentiment","z":"834a2261.b0895","name":"sentiment","x":508.0166931152344,"y":410.43328857421875,"wires":[["2c1b48ec.240518","b3e461bc.d409d","32b93282.40d44e"]]},{"id":"2c1b48ec.240518","type":"function","z":"834a2261.b0895","name":"set score","func":"msg.payload = msg.payload + \";\" + msg.sentiment.score;\n\nreturn msg;","outputs":1,"noerr":0,"x":691.0167236328125,"y":409.93328857421875,"wires":[["ea817d4d.81f56"]]},{"id":"ea817d4d.81f56","type":"http response","z":"834a2261.b0895","name":"response","x":869.0167236328125,"y":410.43328857421875,"wires":[]},{"id":"e303ad81.9137f","type":"ibmiot out","z":"834a2261.b0895","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"speak","format":"json","data":"payload","name":"IBM IoT Speak","service":"registered","x":889.0167236328125,"y":511.43328857421875,"wires":[]},{"id":"5bee2353.fa8dec","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"payload","x":325.0166931152344,"y":333.43328857421875,"wires":[]},{"id":"32b93282.40d44e","type":"function","z":"834a2261.b0895","name":"set speak","func":"msg.devEvent.sentiment=msg.sentiment.score;\n\nif (msg.sentiment.score > 0 ) {\n    msg.devEvent.d.lightg = \"255\";\n} else if (msg.sentiment.score === 0) {\n    msg.devEvent.d.lightb = \"255\";\n} else {\n    msg.devEvent.d.lightr = \"255\";\n}\n\nmsg.payload = JSON.stringify(msg.devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":695.0167236328125,"y":511.93328857421875,"wires":[["e303ad81.9137f","83d2740c.98d7b8"]]},{"id":"b3e461bc.d409d","type":"debug","z":"834a2261.b0895","name":"","active":false,"console":"false","complete":"true","x":685.0166931152344,"y":351.43328857421875,"wires":[]},{"id":"83d2740c.98d7b8","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"devEvent","x":888.0167236328125,"y":455.43328857421875,"wires":[]},{"id":"9a9ace5c.ba27a","type":"debug","z":"834a2261.b0895","name":"","active":false,"console":"false","complete":"false","x":313.63336181640625,"y":609.6832885742188,"wires":[]},{"id":"eae81454.4ed188","type":"function","z":"834a2261.b0895","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"file\" : msg.payload.file\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":319.63336181640625,"y":695.4332885742188,"wires":[["39b87fed.31375","87adbc47.adc42","a31c30c3.e4185"]]},{"id":"39b87fed.31375","type":"ibmiot out","z":"834a2261.b0895","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"play","format":"json","data":"payload","name":"IBM IoT Play","service":"registered","x":532.7666931152344,"y":696.1832885742188,"wires":[]},{"id":"8d3fda7d.68acb8","type":"http in","z":"834a2261.b0895","name":"Get Sound","url":"/grovepi0-sound","method":"put","swaggerDoc":"","x":93.63336181640625,"y":655.4332885742188,"wires":[["9a9ace5c.ba27a","eae81454.4ed188"]]},{"id":"87adbc47.adc42","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"false","x":542.6333923339844,"y":632.6832885742188,"wires":[]},{"id":"8a99b0dd.c496","type":"http response","z":"834a2261.b0895","name":"response","x":700.6333923339844,"y":746.6832885742188,"wires":[]},{"id":"a31c30c3.e4185","type":"function","z":"834a2261.b0895","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":524.6333923339844,"y":746.4332885742188,"wires":[["8a99b0dd.c496"]]},{"id":"d9eb578a.2294e8","type":"debug","z":"834a2261.b0895","name":"","active":false,"console":"false","complete":"false","x":302.0166931152344,"y":847.9333190917969,"wires":[]},{"id":"4dadc569.908c0c","type":"function","z":"834a2261.b0895","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"text\" : \"Emotional Color Set\",\n        \"lightr\" : msg.payload.lightr,\n        \"lightg\" : msg.payload.lightg,\n        \"lightb\" : msg.payload.lightb\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":308.0166931152344,"y":933.6833190917969,"wires":[["665fadeb.c26584","e3647e94.d3141","d423150d.0b98a8"]]},{"id":"665fadeb.c26584","type":"ibmiot out","z":"834a2261.b0895","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"set-light","format":"json","data":"payload","name":"IBM IoT SetLight","service":"registered","x":531.1500244140625,"y":934.4333190917969,"wires":[]},{"id":"fd1137c8.3081a8","type":"http in","z":"834a2261.b0895","name":"Get Light","url":"/grovepi0-light","method":"put","swaggerDoc":"","x":92.88336181640625,"y":896.4333190917969,"wires":[["d9eb578a.2294e8","4dadc569.908c0c"]]},{"id":"e3647e94.d3141","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"payload","x":510.8833923339844,"y":879.6833190917969,"wires":[]},{"id":"37095f6a.8d528","type":"http response","z":"834a2261.b0895","name":"response","x":685.0166931152344,"y":994.1833190917969,"wires":[]},{"id":"d423150d.0b98a8","type":"function","z":"834a2261.b0895","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":509.0166931152344,"y":993.9333190917969,"wires":[["37095f6a.8d528"]]},{"id":"4d1027a6.54de28","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"false","x":288,"y":119,"wires":[]},{"id":"c3da8a9a.315cc8","type":"function","z":"834a2261.b0895","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"led\" : msg.payload.led,\n        \"toggle\" : false,\n        \"status\": msg.payload.stat\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":188.39996337890625,"wires":[["7e9a13c9.2f0fcc","550c36c8.8a4818","f4158e36.a96a6"]]},{"id":"7e9a13c9.2f0fcc","type":"ibmiot out","z":"834a2261.b0895","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"set-led","format":"json","data":"payload","name":"IBM IoT SetLed","service":"registered","x":517.0000305175781,"y":187.86663818359375,"wires":[]},{"id":"550c36c8.8a4818","type":"function","z":"834a2261.b0895","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":498.1666564941406,"y":239.80001831054688,"wires":[["808a8640.691c08"]]},{"id":"f4158e36.a96a6","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"false","x":507.0000305175781,"y":139.20001220703125,"wires":[]},{"id":"808a8640.691c08","type":"http response","z":"834a2261.b0895","name":"response","x":686.0000610351562,"y":239.86666870117188,"wires":[]},{"id":"fde9f926.509ea8","type":"http in","z":"834a2261.b0895","name":"Get Buzzer","url":"/grovepi0-buzzer","method":"put","swaggerDoc":"","x":97.16668701171875,"y":1147.8000183105469,"wires":[["ac5825a1.d04588","99ea0d2a.a97d"]]},{"id":"ac5825a1.d04588","type":"debug","z":"834a2261.b0895","name":"","active":false,"console":"false","complete":"false","x":289.16668701171875,"y":1105.666748046875,"wires":[]},{"id":"99ea0d2a.a97d","type":"function","z":"834a2261.b0895","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"status\" : msg.payload.stat,\n        \"tone\": msg.payload.tone\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":290.16668701171875,"y":1175.0667114257812,"wires":[["fd141114.2fcbb","484a8a43.9238b4","12a96d7a.9ef4d3"]]},{"id":"fd141114.2fcbb","type":"ibmiot out","z":"834a2261.b0895","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"set-buzzer","format":"json","data":"payload","name":"IBM IoT SetBuzzer","service":"registered","x":528.1667175292969,"y":1174.5333862304688,"wires":[]},{"id":"484a8a43.9238b4","type":"function","z":"834a2261.b0895","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":499.3333435058594,"y":1226.4667663574219,"wires":[["d7e86df3.58f8e"]]},{"id":"12a96d7a.9ef4d3","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"false","x":508.1667175292969,"y":1125.8667602539062,"wires":[]},{"id":"d7e86df3.58f8e","type":"http response","z":"834a2261.b0895","name":"response","x":687.166748046875,"y":1226.5334167480469,"wires":[]},{"id":"b46e5366.3a205","type":"http in","z":"834a2261.b0895","name":"Get Image","url":"/grovepi0-getimage","method":"put","swaggerDoc":"","x":99.6500244140625,"y":1389.5666198730469,"wires":[["dfa6b805.4ca1d8","abdb0300.3f8c"]]},{"id":"dfa6b805.4ca1d8","type":"debug","z":"834a2261.b0895","name":"","active":false,"console":"false","complete":"false","x":291.6500244140625,"y":1347.433349609375,"wires":[]},{"id":"abdb0300.3f8c","type":"function","z":"834a2261.b0895","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"cmd\": msg.payload.cmd\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":292.6500244140625,"y":1416.8333129882812,"wires":[["b287616e.bed9b","821b0709.e1d578","ac075444.c45318"]]},{"id":"b287616e.bed9b","type":"ibmiot out","z":"834a2261.b0895","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"get-image","format":"json","data":"payload","name":"IBM IoT GetImage","service":"registered","x":530.6500549316406,"y":1416.2999877929688,"wires":[]},{"id":"821b0709.e1d578","type":"function","z":"834a2261.b0895","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":501.8166809082031,"y":1468.2333679199219,"wires":[["973764dd.0b90e8"]]},{"id":"ac075444.c45318","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"false","x":510.6500549316406,"y":1367.6333618164062,"wires":[]},{"id":"973764dd.0b90e8","type":"http response","z":"834a2261.b0895","name":"response","x":689.6500854492188,"y":1468.3000183105469,"wires":[]},{"id":"bded5029.0b216","type":"http in","z":"834a2261.b0895","name":"Get Text","url":"/grovepi0-gettext","method":"put","swaggerDoc":"","x":106.6500244140625,"y":1635.5666198730469,"wires":[["71009a6c.5a2ab4","369940f5.51016"]]},{"id":"71009a6c.5a2ab4","type":"debug","z":"834a2261.b0895","name":"","active":false,"console":"false","complete":"false","x":298.6500244140625,"y":1593.433349609375,"wires":[]},{"id":"369940f5.51016","type":"function","z":"834a2261.b0895","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"cmd\": msg.payload.cmd\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":299.6500244140625,"y":1662.8333129882812,"wires":[["6ac4414b.bc3f4","7e22f565.fad66c","845ef50a.2ad488"]]},{"id":"6ac4414b.bc3f4","type":"ibmiot out","z":"834a2261.b0895","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"get-text","format":"json","data":"payload","qos":"","name":"IBM IoT GetImage","service":"registered","x":537.6500549316406,"y":1662.2999877929688,"wires":[]},{"id":"7e22f565.fad66c","type":"function","z":"834a2261.b0895","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":508.8166809082031,"y":1714.2333679199219,"wires":[["d968fc8.8728c"]]},{"id":"845ef50a.2ad488","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"false","x":517.6500549316406,"y":1613.6333618164062,"wires":[]},{"id":"d968fc8.8728c","type":"http response","z":"834a2261.b0895","name":"response","x":696.6500854492188,"y":1714.3000183105469,"wires":[]},{"id":"461fde7a.2ed6c","type":"http in","z":"834a2261.b0895","name":"Get Weather","url":"/grovepi0-getweather","method":"put","swaggerDoc":"","x":108.6500244140625,"y":1939.5666198730469,"wires":[["311a9bf1.c935b4","7051ea93.b2efe4"]]},{"id":"311a9bf1.c935b4","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"false","x":307.6500244140625,"y":1872.4333190917969,"wires":[]},{"id":"27125e98.a47fb2","type":"function","z":"834a2261.b0895","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"location\": msg.websave.location,\n        \"latitude\" : msg.websave.latitude,\n        \"longitude\" : msg.websave.longitude,\n        \"service\" : msg.websave.service, \n        \"language\" : msg.websave.language,\n        \"forecasts\" : msg.forecasts,\n        \"observation\" : msg.observation,\n        \"observations\" : msg.observations\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":712.6500244140625,"y":1938.8332214355469,"wires":[["160ed84c.1cc998","fff87fa7.51acd","9357e0b8.ed747"]]},{"id":"160ed84c.1cc998","type":"ibmiot out","z":"834a2261.b0895","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"grovepi-0","deviceType":"grovepi","eventCommandType":"get-weather","format":"json","data":"payload","qos":"","name":"IBM IoT GetWeather","service":"registered","x":960.6500854492188,"y":1939.2998962402344,"wires":[]},{"id":"fff87fa7.51acd","type":"function","z":"834a2261.b0895","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":916.8166809082031,"y":1997.2332458496094,"wires":[["cfcd8839.4456f8"]]},{"id":"9357e0b8.ed747","type":"debug","z":"834a2261.b0895","name":"","active":true,"console":"false","complete":"false","x":949.6500854492188,"y":1858.6332702636719,"wires":[]},{"id":"cfcd8839.4456f8","type":"http response","z":"834a2261.b0895","name":"response","x":1104.6500854492188,"y":1997.2998962402344,"wires":[]},{"id":"f8121d88.7e952","type":"weather_insights","z":"834a2261.b0895","name":"Get Weather","service":"/forecast/daily/10day.json","geocode":"","units":"m","language":"","x":509.6500244140625,"y":1939.5666198730469,"wires":[["df9791c.dd6dc7","f859b945.a0ada8","29167f88.7b566","27125e98.a47fb2"]]},{"id":"7051ea93.b2efe4","type":"function","z":"834a2261.b0895","name":"Set Weathercall","func":"msg.websave = msg.payload;\nmsg.service = msg.websave.service;\nmsg.language = msg.websave.language;\nmsg.payload = msg.websave.latitude + \",\" + msg.websave.longitude;\n\nreturn msg;","outputs":1,"noerr":0,"x":313.6500244140625,"y":1939.5666198730469,"wires":[["f8121d88.7e952"]]},{"id":"df9791c.dd6dc7","type":"debug","z":"834a2261.b0895","name":"forecasts","active":false,"console":"false","complete":"forecasts","x":712.6500244140625,"y":1796.5666198730469,"wires":[]},{"id":"f859b945.a0ada8","type":"debug","z":"834a2261.b0895","name":"observation","active":false,"console":"false","complete":"observation","x":719.6500244140625,"y":1838.5666198730469,"wires":[]},{"id":"29167f88.7b566","type":"debug","z":"834a2261.b0895","name":"observations","active":false,"console":"false","complete":"observations","x":717.6500244140625,"y":1881.5666198730469,"wires":[]},{"id":"551014bf.d009fc","type":"inject","z":"834a2261.b0895","name":"Wetteransage","topic":"","payload":"{\"location\": \"Berlin\", \"latitude\": \"52.519726\", \"longitude\": \"13.404393\", \"service\": \"current\", \"language\": \"de-DE\"}","payloadType":"json","repeat":"","crontab":"0 7-18 * * *","once":false,"x":125.6500244140625,"y":2047.5666198730469,"wires":[["7051ea93.b2efe4"]]}]