Flows/GrovePiEduc-Tab3.json
[{"id":"789dc00.810734","type":"grove digital sensor","z":"8d30cf88.c17818","name":"DHT 11","board":"b71b4090.1bed08","sensor":"dht11","repeat":"1","pin":"2","x":74.4285659790039,"y":241.92857837677002,"wires":[["1723d835.21be18","575544d2.678e0c"]]},{"id":"1723d835.21be18","type":"switch","z":"8d30cf88.c17818","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"num"},{"t":"btwn","v":"25","vt":"num","v2":"26","v2t":"num"},{"t":"gt","v":"26","vt":"str"}],"checkall":"true","outputs":3,"x":254,"y":241,"wires":[["10033ec3.a59dd9"],["2da5d10b.e7fd16"],["dd17f611.4a3b2"]]},{"id":"10033ec3.a59dd9","type":"template","z":"8d30cf88.c17818","name":"zu kalt","field":"payload.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zu kalt: {{payload.temperature}} !","x":417,"y":179,"wires":[["9480659c.893d5"]]},{"id":"dd17f611.4a3b2","type":"template","z":"8d30cf88.c17818","name":"zu warm","field":"payload.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"zu warm: {{payload.temperature}} !","x":418,"y":310,"wires":[["c5396d9f.9f6c98"]]},{"id":"2da5d10b.e7fd16","type":"template","z":"8d30cf88.c17818","name":"passt ","field":"payload.text","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"passt genau: {{payload.temperature}} !","x":411,"y":240,"wires":[["89d88440.ae496"]]},{"id":"575544d2.678e0c","type":"debug","z":"8d30cf88.c17818","name":"","active":false,"console":"false","complete":"false","x":392,"y":68,"wires":[]},{"id":"9480659c.893d5","type":"change","z":"8d30cf88.c17818","name":"Blau","rules":[{"t":"set","p":"payload.b","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"payload.g","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.r","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":556,"y":179,"wires":[["1b310ba7.188bb4"]]},{"id":"89d88440.ae496","type":"change","z":"8d30cf88.c17818","name":"Grün","rules":[{"t":"set","p":"payload.b","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.g","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"payload.r","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":559,"y":240,"wires":[["1b310ba7.188bb4"]]},{"id":"c5396d9f.9f6c98","type":"change","z":"8d30cf88.c17818","name":"Rot","rules":[{"t":"set","p":"payload.b","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.g","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.r","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":564,"y":310,"wires":[["1b310ba7.188bb4"]]},{"id":"1b310ba7.188bb4","type":"function","z":"8d30cf88.c17818","name":"set rgb","func":"var col = [msg.payload.r, msg.payload.g, msg.payload.b];\nmsg.payload.rgb=col\nreturn msg;","outputs":1,"noerr":0,"x":726,"y":240,"wires":[[]]},{"id":"6768b1e3.45b65","type":"grove lcdrgb output","z":"8d30cf88.c17818","name":"RGB-LCD","board":"b71b4090.1bed08","pin":"1","x":875,"y":239,"wires":[]},{"id":"c59e28fb.e4f0a8","type":"grove analog sensor","z":"8d30cf88.c17818","name":"Light","pin":"0","sensor":"light","repeat":"1","board":"b71b4090.1bed08","x":75,"y":430,"wires":[["9c36e2a0.26b59"]]},{"id":"9c36e2a0.26b59","type":"debug","z":"8d30cf88.c17818","name":"","active":false,"console":"false","complete":"false","x":291.2857246398926,"y":396.0000104904175,"wires":[]},{"id":"61322350.a262ac","type":"grove digital sensor","z":"8d30cf88.c17818","name":"Button","board":"b1e75dcf.64245","sensor":"button","repeat":"1","pin":"4","x":77.14285659790039,"y":532.7143020629883,"wires":[["3ee3dad7.56e9a6"]]},{"id":"3ee3dad7.56e9a6","type":"debug","z":"8d30cf88.c17818","name":"","active":false,"console":"false","complete":"false","x":286.2857208251953,"y":507.857129573822,"wires":[]},{"id":"b71b4090.1bed08","type":"board-config","z":"8d30cf88.c17818","board":"GrovePi"},{"id":"b1e75dcf.64245","type":"board-config","z":"8d30cf88.c17818","board":"GrovePi"}]