Flows/ReceiveFromIoTF-Tab2.json
[{"id":"f6cc6340.0e5018","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"set-lcd","commandType":"g","name":"IoTF Set-Lcd","x":95,"y":186.5,"wires":[["90d91eb5.f28ab","e14b045b.70af8"]]},{"id":"90d91eb5.f28ab","type":"debug","z":"197fa3d7.e3ca44","name":"","active":false,"console":"false","complete":"false","x":308,"y":123,"wires":[]},{"id":"156e4ddb.21b632","type":"switch","z":"197fa3d7.e3ca44","name":"Which cmd","property":"payload.d.cmd","propertyType":"msg","rules":[{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"Restore","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":349.4999084472656,"y":262.5,"wires":[["60f54f60.5cd3f"],["755b9790.2f5f08"],["88a6eef8.e4c49"]]},{"id":"e14b045b.70af8","type":"change","z":"197fa3d7.e3ca44","name":"Save msg","rules":[{"t":"set","p":"orig","pt":"msg","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":288.5,"y":186.5,"wires":[["156e4ddb.21b632"]]},{"id":"67c08b6c.6b3c6c","type":"grove lcdrgb output","z":"197fa3d7.e3ca44","name":"LCD Display","board":"3c729699.e59832","pin":"1","x":923.2333984375,"y":335.433349609375,"wires":[]},{"id":"88a6eef8.e4c49","type":"function","z":"197fa3d7.e3ca44","name":"Set LCD","func":"var lcd = {\n    \"text\" : msg.orig.text,\n    \"rgb\" : msg.orig.rgb\n}\n\nmsg.payload = lcd; \n\nreturn msg;","outputs":1,"noerr":0,"x":736.2333984375,"y":336.23333740234375,"wires":[["67c08b6c.6b3c6c","f28a5127.5affa"]]},{"id":"60f54f60.5cd3f","type":"change","z":"197fa3d7.e3ca44","name":"Save into lastlcd","rules":[{"t":"set","p":"lastlcd","pt":"global","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":545.2333984375,"y":204.36666870117188,"wires":[["88a6eef8.e4c49"]]},{"id":"f28a5127.5affa","type":"debug","z":"197fa3d7.e3ca44","name":"","active":false,"console":"false","complete":"payload","x":926.2333984375,"y":281.5666809082031,"wires":[]},{"id":"1d7ccdff.1d7862","type":"change","z":"197fa3d7.e3ca44","name":"Restore lastlcd","rules":[{"t":"set","p":"orig","pt":"msg","to":"lastlcd","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":754.2333984375,"y":231.16668701171875,"wires":[["88a6eef8.e4c49"]]},{"id":"755b9790.2f5f08","type":"switch","z":"197fa3d7.e3ca44","name":"lastlcd exists","property":"lastlcd","propertyType":"global","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":534.2333984375,"y":261.76666259765625,"wires":[["1d7ccdff.1d7862"],["88a6eef8.e4c49"]]},{"id":"d416e833.ff5d08","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"set-led","commandType":"g","name":"IoTF Set-Led","x":96.73333740234375,"y":751.7666931152344,"wires":[["8c98d74c.ba6f1","50f56de6.cc1654"]]},{"id":"ed1173f2.38789","type":"grove digital output","z":"197fa3d7.e3ca44","name":"Green Led","board":"3c729699.e59832","pin":"7","x":957.7333984375,"y":730.5667724609375,"wires":[]},{"id":"c0627386.7e716","type":"grove digital output","z":"197fa3d7.e3ca44","name":"Red Led","board":"3c729699.e59832","pin":"8","x":945.7333984375,"y":805.5667724609375,"wires":[]},{"id":"bbfc1059.4fc68","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"set-light","commandType":"g","name":"IoTF Set-Light","x":94.73333740234375,"y":955.8999938964844,"wires":[["91cb0139.e9ac7","55363475.78777c"]]},{"id":"91cb0139.e9ac7","type":"debug","z":"197fa3d7.e3ca44","name":"","active":false,"console":"false","complete":"false","x":296.73333740234375,"y":912.6999816894531,"wires":[]},{"id":"548259f4.adda38","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"play","commandType":"g","name":"IoTF play","x":83.73333740234375,"y":1104.9000549316406,"wires":[["23c0f696.cbafb2","2cb4f9c8.4d412e"]]},{"id":"23c0f696.cbafb2","type":"debug","z":"197fa3d7.e3ca44","name":"","active":false,"console":"false","complete":"false","x":297.73333740234375,"y":1054.699951171875,"wires":[]},{"id":"16fde587.3eb26a","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"set-buzzer","commandType":"g","name":"IoTF Set-Buzzer","x":103.73333740234375,"y":1262.9000244140625,"wires":[["793e4bff.cc974c","956bc910.d1f588"]]},{"id":"793e4bff.cc974c","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"false","x":299.73333740234375,"y":1219.699951171875,"wires":[]},{"id":"55363475.78777c","type":"function","z":"197fa3d7.e3ca44","name":"Set RGB","func":"var rgb = [ parseInt(msg.payload.d.lightr), parseInt(msg.payload.d.lightg), parseInt(msg.payload.d.lightb) ];\n\nvar lcd = {\n    \"text\" : msg.payload.d.text,\n    \"rgb\" : rgb\n}\n\nmsg.payload = lcd; \n\nreturn msg;","outputs":1,"noerr":0,"x":290.8999938964844,"y":967.3666687011719,"wires":[["dca7c70b.99ba6"]]},{"id":"dca7c70b.99ba6","type":"grove lcdrgb output","z":"197fa3d7.e3ca44","name":"LCD","board":"3c729699.e59832","pin":"1","x":455.7333679199219,"y":967.7666931152344,"wires":[]},{"id":"8de09fd1.4f5f7","type":"speakerpi-output","z":"197fa3d7.e3ca44","choose":"filebased","filename":"","channels":"2","bitdepth":"8","samplerate":"22050","name":"Raspi Speaker","x":492.7333679199219,"y":1105.63330078125,"wires":[]},{"id":"2cb4f9c8.4d412e","type":"function","z":"197fa3d7.e3ca44","name":"Set play","func":"var newPath = \"/home/pi/Git/predefsound/\";\nvar newFile;\n\nmsg.choose = \"filebased\";\n\nif (msg.payload.d.filename) {\n    if (msg.payload.d.filename == \"watson-1.wav\") {\n        newFile = newPath + \"100percent.wav\";\n    } else if (msg.payload.d.filename == \"watson-2.wav\") {\n        newFile = newPath + \"everonward.wav\";\n    } else if (msg.payload.d.filename == \"watson-3.wav\") {\n        newFile = newPath + \"hailtoibm.wav\";\n    } else if (msg.payload.d.filename == \"watson-4.wav\") {\n        newFile = newPath + \"marchon.wav\";\n    } else if (msg.payload.d.filename == \"watson-5.wav\") {\n        newFile = newPath + \"hello.wav\";\n    } else {\n        newFile = newPath + msg.payload.d.filename;\n    }\n} else {\n        newFile = newPath + \"hello.wav\";\n}\n\nmsg.filename = newFile;\n\nreturn msg;","outputs":1,"noerr":0,"x":293.3666687011719,"y":1105.5,"wires":[["8de09fd1.4f5f7"]]},{"id":"956bc910.d1f588","type":"function","z":"197fa3d7.e3ca44","name":"Set buzzer","func":"if (msg.payload.d.status === true) {\n    msg.payload = true; \n} else {\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":304.3666687011719,"y":1273.5,"wires":[["53d23d47.201d24"]]},{"id":"53d23d47.201d24","type":"grove digital output","z":"197fa3d7.e3ca44","name":"Buzzer","board":"3c729699.e59832","pin":"6","x":473.7333679199219,"y":1272.566650390625,"wires":[]},{"id":"581011c0.c9bfd8","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"true","x":267.36669921875,"y":422.8666687011719,"wires":[]},{"id":"60fee72b.aec19","type":"switch","z":"197fa3d7.e3ca44","name":"Translate?","property":"srclang","propertyType":"msg","rules":[{"t":"neq","v":"destlang","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":295.36669921875,"y":550.3667297363281,"wires":[["14aa96b6.229919"],["a4775558.35357"]]},{"id":"a4775558.35357","type":"function","z":"197fa3d7.e3ca44","name":"set text2speach","func":"if (msg.orig) {\n    if (msg.orig.voice) {\n        msg.voice = msg.orig.voice;\n    } else {\n        if (msg.destlang == \"en\" ) { msg.voice = \"en-GB_KateVoice\" }\n        if (msg.destlang == \"es\" ) { msg.voice = \"es-ES_LauraVoice\" }\n        if (msg.destlang == \"de\" ) { msg.voice = \"de-DE_BirgitVoice\"}\n        if (msg.destlang == \"fr\" ) { msg.voice = \"fr-FR_ReneeVoice\"}\n        if (msg.destlang == \"it\" ) { msg.voice = \"it-IT_FrancescaVoice\"}\n        if (msg.destlang == \"pt\" ) { msg.voice = \"pt-BR_IsabelaVoice\"}\n    } \n} else {\n    if (msg.destlang == \"en\" ) { msg.voice = \"en-GB_KateVoice\" }\n    if (msg.destlang == \"es\" ) { msg.voice = \"es-ES_LauraVoice\" }\n    if (msg.destlang == \"de\" ) { msg.voice = \"de-DE_BirgitVoice\"}\n    if (msg.destlang == \"fr\" ) { msg.voice = \"fr-FR_ReneeVoice\"}\n    if (msg.destlang == \"it\" ) { msg.voice = \"it-IT_FrancescaVoice\"}\n    if (msg.destlang == \"pt\" ) { msg.voice = \"pt-BR_IsabelaVoice\"}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":684.36669921875,"y":556.8667297363281,"wires":[["baad240d.065b28"]]},{"id":"c54037c1.a92f6","type":"debug","z":"197fa3d7.e3ca44","name":"Translation","active":true,"console":"false","complete":"translation","x":678.36669921875,"y":493.8667907714844,"wires":[]},{"id":"dc5031e9.9a6d8","type":"speakerpi-output","z":"197fa3d7.e3ca44","choose":"filebased","channels":"1","bitdepth":"8","samplerate":"22050","name":"Raspi Speaker","x":918.36669921875,"y":639.3667297363281,"wires":[]},{"id":"542fdad6.ff8dfc","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"payload","x":909.36669921875,"y":589.8667297363281,"wires":[]},{"id":"6a890345.2e3fa4","type":"inject","z":"197fa3d7.e3ca44","name":"Test ","topic":"","payload":"Dies ist ein Test","payloadType":"str","repeat":"","crontab":"","once":false,"x":464.36669921875,"y":639.36669921875,"wires":[["baad240d.065b28"]]},{"id":"c4607848.e3fd9","type":"function","z":"197fa3d7.e3ca44","name":"Save msg","func":"msg.orig = msg.payload.d;\n\nmsg.srclang = msg.payload.d.srclang;\nmsg.destlang = msg.payload.d.destlang;\nmsg.payload = msg.payload.d.speak; \n\nreturn msg;","outputs":1,"noerr":0,"x":264.36669921875,"y":472.3667907714844,"wires":[["60fee72b.aec19"]]},{"id":"b95f9856.d9cd88","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"speak","commandType":"g","name":"IoTF speak","x":73.73336791992188,"y":472.7666931152344,"wires":[["581011c0.c9bfd8","c4607848.e3fd9"]]},{"id":"8c98d74c.ba6f1","type":"debug","z":"197fa3d7.e3ca44","name":"","active":false,"console":"false","complete":"false","x":296.3666687011719,"y":690.0998840332031,"wires":[]},{"id":"f90b4582.b9c1b8","type":"function","z":"197fa3d7.e3ca44","name":"switch on/off","func":"var newMsg = { payload: false };\nif (msg.payload.d.turnon) {\n    newMsg.payload = msg.payload.d.turnon;    \n} \n\n// switch all off\n// toggle the led lights depending on red/green\n// stat represents on/off for the led light\nif (msg.payload.d.led == \"all off\") {\n    return [{ payload: false },{ payload: false },{ payload: false }];\n} else if (msg.payload.d.led == \"green\") {\n    return [newMsg, { payload: false },{ payload: false }];\n} else if (msg.payload.d.led == \"red\") {\n    return [{ payload: false }, newMsg,{ payload: false }];\n} else if (msg.payload.d.led == \"blue\") {\n    return [{ payload: false }, { payload: false }, newMsg];\n}else {\n    return [{ payload: false }, { payload: false }, { payload: false }];\n}","outputs":"3","noerr":0,"x":697.36669921875,"y":744.2998046875,"wires":[["ed1173f2.38789"],["c0627386.7e716"],["eb323bb0.05c2f8"]]},{"id":"50f56de6.cc1654","type":"switch","z":"197fa3d7.e3ca44","name":"Toggle mode","property":"payload.d.toggle","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":302.7333679199219,"y":751.2999572753906,"wires":[["f90b4582.b9c1b8"],["c56d24dc.ce8dd"]]},{"id":"c56d24dc.ce8dd","type":"switch","z":"197fa3d7.e3ca44","name":"","property":"payload.d.led","propertyType":"msg","rules":[{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"blue","vt":"str"}],"checkall":"true","outputs":3,"x":512.7334289550781,"y":840.2999267578125,"wires":[["647fa77.ce1df58"],["e5dc462c.1532a"],["ba015aec.0b60b"]]},{"id":"647fa77.ce1df58","type":"change","z":"197fa3d7.e3ca44","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.turnon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":693.7334289550781,"y":798.7666015625,"wires":[["ed1173f2.38789"]]},{"id":"e5dc462c.1532a","type":"change","z":"197fa3d7.e3ca44","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.turnon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":695.3667297363281,"y":840.2999572753906,"wires":[["c0627386.7e716"]]},{"id":"ba015aec.0b60b","type":"change","z":"197fa3d7.e3ca44","name":"Set On/Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.turnon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":696.3667297363281,"y":879.2999572753906,"wires":[["eb323bb0.05c2f8"]]},{"id":"eb323bb0.05c2f8","type":"grove digital output","z":"197fa3d7.e3ca44","name":"Blue Led","board":"6548d9d.920b6a8","pin":"4","x":947.7333984375,"y":878.8999938964844,"wires":[]},{"id":"5191d490.b2c0cc","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"get-image","commandType":"g","name":"IoTF Get-Image","x":102,"y":1398,"wires":[["24092aef.000916","41982e6e.61de6"]]},{"id":"24092aef.000916","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"false","x":298,"y":1354.7999267578125,"wires":[]},{"id":"41982e6e.61de6","type":"camerapi-takephoto","z":"197fa3d7.e3ca44","filemode":"1","filename":"dashboard.jpg","filedefpath":"0","filepath":"/home/pi/images/","fileformat":"jpeg","resolution":"1","fliph":"1","flipv":"1","name":"Take Photo","x":306,"y":1410,"wires":[["769264c0.28b5ac"]]},{"id":"f8553105.70bca","type":"function","z":"197fa3d7.e3ca44","name":"Set IoTF image","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"image\",\n            \"timestamp\" : new Date(),\n            \"url\": msg.url,\n            \"gender\": \"unknown\",\n            \"age\" : 999\n        }\n    }; \n\n// set the gender and the age from the picture    \nif (msg.result.images.length >= 0) {\n    if (msg.result.images[0].faces.length > 0) {\n        sensor.d.gender = msg.result.images[0].faces[0].gender.gender + \"(\" + msg.result.images[0].faces[0].gender.score + \")\";\n        sensor.d.age = msg.result.images[0].faces[0].age.max;\n    }\n}\n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":674,"y":1507,"wires":[["eb37ca52.5c2b08","17cdb80a.c3a6c8"]]},{"id":"eb37ca52.5c2b08","type":"wiotp out","z":"197fa3d7.e3ca44","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":865,"y":1506,"wires":[]},{"id":"17cdb80a.c3a6c8","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"false","x":871,"y":1457,"wires":[]},{"id":"968528eb.5a66a8","type":"debug","z":"197fa3d7.e3ca44","name":"","active":false,"console":"false","complete":"true","x":489,"y":1427,"wires":[]},{"id":"b6bedf4c.a396b","type":"visual-recognition-v3","z":"197fa3d7.e3ca44","name":"Detect Faces","apikey":"46bd0eed187ec73b4ea37d459932a16e3ddd3d54","image-feature":"detectFaces","x":469,"y":1507.5,"wires":[["153db49.1408e4b","f8553105.70bca"]]},{"id":"9a5ea5e8.757ad8","type":"function","z":"197fa3d7.e3ca44","name":"set url","func":"msg.payload = msg.url;\n\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":1507.5,"wires":[["b6bedf4c.a396b"]]},{"id":"153db49.1408e4b","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"true","x":648,"y":1460,"wires":[]},{"id":"769264c0.28b5ac","type":"os-put","z":"197fa3d7.e3ca44","name":"Put the Photo","container":"Pictures","objectname":"","objectmode":"0","imageformat":"jpeg","audioformat":"wav","filepath":"/home/pi/images/","filename":"dashboard.jpg","formattype":"0","mode":"0","osconfig":"3ceb0653.f51bca","x":315,"y":1455,"wires":[["9a5ea5e8.757ad8","968528eb.5a66a8"]]},{"id":"14aa96b6.229919","type":"watson-translator","z":"197fa3d7.e3ca44","name":"Translator","action":"translate","basemodel":"ar-en","domain":"news","srclang":"de","destlang":"en","password":"WALsqbHsh3RW","custom":"","domainhidden":"news","srclanghidden":"de","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"ldparamshidden2":"false","x":470,"y":494,"wires":[["a4775558.35357","c54037c1.a92f6"]]},{"id":"baad240d.065b28","type":"watson-text-to-speech","z":"197fa3d7.e3ca44","name":"Text2Speach","lang":"de-DE","langhidden":"de-DE","voice":"de-DE_BirgitVoice","voicehidden":"","format":"audio/wav","password":"pjaxyNAONb3n","x":690,"y":639,"wires":[["dc5031e9.9a6d8","542fdad6.ff8dfc"]]},{"id":"f3e85404.459d58","type":"inject","z":"197fa3d7.e3ca44","name":"Start Test","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":102,"y":373,"wires":[["577667cd.57f9f8"]]},{"id":"577667cd.57f9f8","type":"function","z":"197fa3d7.e3ca44","name":"Test Message","func":"msg.payload = \"Dies ist ein Test\";\nmsg.srclang = \"de\";\nmsg.destlang =\"en\";\n\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":373,"wires":[["14aa96b6.229919"]]},{"id":"f4732bad.2e09b8","type":"function","z":"197fa3d7.e3ca44","name":"Set IoTF microphone","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"microphone\",\n            \"timestamp\" : new Date(),\n            \"text\": \"Dies ist eine wunderbare Mikrofon aufnahme!!\"\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":649,"y":1637,"wires":[["902c313.fa95ed","4008ad05.d8dd14"]]},{"id":"902c313.fa95ed","type":"wiotp out","z":"197fa3d7.e3ca44","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":877,"y":1637,"wires":[]},{"id":"4008ad05.d8dd14","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"payload","x":876,"y":1578,"wires":[]},{"id":"44d05403.e61eec","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"get-text","commandType":"g","name":"IoTF Get-Text","x":95,"y":1639,"wires":[["b3fe62d8.02e6"]]},{"id":"26a7de1e.11ebc2","type":"comment","z":"197fa3d7.e3ca44","name":"GrovePi-0 (GrovePi-oh) Receive from IoTF","info":"","x":181,"y":43,"wires":[]},{"id":"b3fe62d8.02e6","type":"switch","z":"197fa3d7.e3ca44","name":"","property":"payload.d.cmd","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","outputs":2,"x":256,"y":1639,"wires":[["ee376b4b.ed4978"],["f4732bad.2e09b8"]]},{"id":"ee376b4b.ed4978","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"false","x":475,"y":1578,"wires":[]},{"id":"e3317158.a286d","type":"wiotp in","z":"197fa3d7.e3ca44","authType":"d","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","command":"get-weather","commandType":"g","name":"IoTF Get-Weather","x":114,"y":1804,"wires":[["2e70227b.cffd3e"]]},{"id":"2e70227b.cffd3e","type":"function","z":"197fa3d7.e3ca44","name":"Set IoTF Weather","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"weather\",\n            \"timestamp\" : new Date(),\n            \"text\": \"Wetter Info\"\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":638,"y":1802,"wires":[["309779d0.d56e66","2cb1e62c.2db4ca"]]},{"id":"309779d0.d56e66","type":"wiotp out","z":"197fa3d7.e3ca44","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c88b289f.eaaed8","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":876,"y":1802,"wires":[]},{"id":"2cb1e62c.2db4ca","type":"debug","z":"197fa3d7.e3ca44","name":"","active":true,"console":"false","complete":"payload","x":875,"y":1743,"wires":[]},{"id":"c88b289f.eaaed8","type":"wiotp-credentials","z":"197fa3d7.e3ca44","name":"Bluemix IoTF","org":"frjtub","devType":"grovepi","devId":"grovepi-0"},{"id":"3c729699.e59832","type":"board-config","z":"197fa3d7.e3ca44","board":"GrovePi"},{"id":"6548d9d.920b6a8","type":"board-config","z":"197fa3d7.e3ca44","board":"GrovePi"},{"id":"3ceb0653.f51bca","type":"os-config","z":"197fa3d7.e3ca44","cfgtype":"api","region":"dallas","tendantId":"e8b87e1db0484de19ae754d28340cef7","userId":"3998bd30604f4d6284f5c0deb702eff9","userName":"Admin_e4185bf7a977854c4b9a4b761bd54a5ac01a84e4","password":"T7j7e?lZH!nyq0,2","name":"Bluemix Service"}]