Flows/SendToIoTF-Tab1.json
[{"id":"961b07ef.6a18","type":"grove digital sensor","z":"9e2ee996.459b48","name":"Temp&Hum","board":"c898d99a.a9dca","sensor":"dht11","repeat":"1","pin":"2","x":84.5,"y":171.5,"wires":[["a83a6813.454448","8c65ec77.09c72"]]},{"id":"a83a6813.454448","type":"debug","z":"9e2ee996.459b48","name":"","active":false,"console":"false","complete":"false","x":300.5,"y":121,"wires":[]},{"id":"8c65ec77.09c72","type":"function","z":"9e2ee996.459b48","name":"Set IoTF temphum","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"temphum\",\n            \"timestamp\" : new Date(),\n            \"temperature\":msg.payload.temperature,\n            \"humidity\": msg.payload.humidity,\n            \"heatIndex\" : msg.payload.heatIndex\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;\n","outputs":1,"noerr":0,"x":310.5,"y":189.5,"wires":[["4394ca23.149c8c"]]},{"id":"4394ca23.149c8c","type":"wiotp out","z":"9e2ee996.459b48","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"b608a0cb.f380f8","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":525.5,"y":190,"wires":[]},{"id":"a3d4d3ab.1ce1e","type":"grove digital sensor","z":"9e2ee996.459b48","name":"Ultrasonic","board":"c898d99a.a9dca","sensor":"ultrasonic","repeat":"1","pin":"3","x":74,"y":289.5,"wires":[["e482680a.2d32d","37448180.a5bd56"]]},{"id":"e482680a.2d32d","type":"debug","z":"9e2ee996.459b48","name":"","active":false,"console":"false","complete":"false","x":284,"y":264,"wires":[]},{"id":"37448180.a5bd56","type":"function","z":"9e2ee996.459b48","name":"Set IoTF ultrasonic","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"ultrasonic\",\n            \"timestamp\" : new Date(),\n            \"distance\" : msg.payload\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":333.5,"wires":[["5a1a5970.43b8d"]]},{"id":"5a1a5970.43b8d","type":"wiotp out","z":"9e2ee996.459b48","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"b608a0cb.f380f8","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":530,"y":334,"wires":[]},{"id":"4838386d.0c5e18","type":"grove analog sensor","z":"9e2ee996.459b48","name":"Light","pin":"0","sensor":"light","repeat":"1","board":"c898d99a.a9dca","x":60.73333740234375,"y":463.1666564941406,"wires":[["707c2c4d.ce6f14","f228c4ae.5cb1f8"]]},{"id":"707c2c4d.ce6f14","type":"debug","z":"9e2ee996.459b48","name":"","active":false,"console":"false","complete":"false","x":282.73333740234375,"y":411.5666809082031,"wires":[]},{"id":"f228c4ae.5cb1f8","type":"function","z":"9e2ee996.459b48","name":"Set IoTF light","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"light\",\n            \"timestamp\" : new Date(),\n            \"light\" : msg.payload\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":279.3666687011719,"y":489.3666687011719,"wires":[["3745ec58.bed0f4"]]},{"id":"3745ec58.bed0f4","type":"wiotp out","z":"9e2ee996.459b48","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"b608a0cb.f380f8","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":501.3666687011719,"y":489.3666687011719,"wires":[]},{"id":"3b59bf73.fa1ab8","type":"grove analog sensor","z":"9e2ee996.459b48","name":"Sound","pin":"1","sensor":"sound","repeat":"1","board":"c898d99a.a9dca","x":56.366668701171875,"y":613.36669921875,"wires":[["9a8e2f92.b32dc","9800a76c.61ba8"]]},{"id":"9a8e2f92.b32dc","type":"debug","z":"9e2ee996.459b48","name":"","active":false,"console":"false","complete":"false","x":278.3666687011719,"y":561.7667236328125,"wires":[]},{"id":"9800a76c.61ba8","type":"function","z":"9e2ee996.459b48","name":"Set IoTF sound","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"sound\",\n            \"timestamp\" : new Date(),\n            \"sound\" : msg.payload\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":639.5667114257812,"wires":[["2447b65a.c2683a"]]},{"id":"2447b65a.c2683a","type":"wiotp out","z":"9e2ee996.459b48","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"b608a0cb.f380f8","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":496,"y":634.5667114257812,"wires":[]},{"id":"b7e038bd.e73598","type":"grove digital sensor","z":"9e2ee996.459b48","name":"Button","board":"c898d99a.a9dca","sensor":"button","repeat":"1","pin":"5","x":58.73333740234375,"y":746.7667236328125,"wires":[["7d00f894.a833e8","6527c818.b3d3a"]]},{"id":"7d00f894.a833e8","type":"debug","z":"9e2ee996.459b48","name":"","active":false,"console":"false","complete":"false","x":278.73333740234375,"y":711.699951171875,"wires":[]},{"id":"6527c818.b3d3a","type":"function","z":"9e2ee996.459b48","name":"Set IoTF button","func":"var sensor =\n    {\"d\":\n        {\n            \"device\":\"grovepi-0\",\n            \"sensor\" : \"button\",\n            \"timestamp\" : new Date(),\n            \"status\" : msg.payload\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;","outputs":1,"noerr":0,"x":287.73333740234375,"y":781.1000061035156,"wires":[["25bdb087.117558"]]},{"id":"25bdb087.117558","type":"wiotp out","z":"9e2ee996.459b48","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"b608a0cb.f380f8","deviceType":"","deviceId":"","event":"event","format":"json","name":"Bluemix IoTF","x":497.3666687011719,"y":780.9666748046875,"wires":[]},{"id":"75696dc6.e0c8f4","type":"comment","z":"9e2ee996.459b48","name":"GrovePi-0 (GrovePi-oh) Send to IoTF","info":"","x":178,"y":44,"wires":[]},{"id":"c898d99a.a9dca","type":"board-config","z":"9e2ee996.459b48","board":"GrovePi"},{"id":"b608a0cb.f380f8","type":"wiotp-credentials","z":"9e2ee996.459b48","name":"Bluemix IoTF","org":"frjtub","devType":"grovepi","devId":"grovepi-0"}]