Flows/Bluemix-SenseHAT/Tab1-ReceiveIoTF.json
[{"id":"8928c381.d234f","type":"ibmiot in","z":"986d1397.67079","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"tjbot-oh","applicationId":"","deviceType":"tjbot","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":97.00001525878906,"y":253.00001525878906,"wires":[["844cb41d.509318","9aa88bba.215e18","3d0e673f.66d5c8","fcebfffa.7aa9d"]]},{"id":"844cb41d.509318","type":"debug","z":"986d1397.67079","name":"device data","active":false,"console":"false","complete":"true","x":350.5000305175781,"y":75.00001525878906,"wires":[]},{"id":"9aa88bba.215e18","type":"switch","z":"986d1397.67079","name":"Sensor Values","property":"payload.d.sensor","propertyType":"msg","rules":[{"t":"eq","v":"temphum","vt":"str"},{"t":"eq","v":"joystick","vt":"str"},{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","outputs":3,"x":326.73333740234375,"y":327.7666931152344,"wires":[["346467e4.21e428"],["e0567036.0c1ea"],["e0567036.0c1ea"]]},{"id":"3d0e673f.66d5c8","type":"websocket out","z":"986d1397.67079","name":"Send Dashboard","server":"ef2b64a9.b7d858","client":"","x":367.7333679199219,"y":227.36669921875,"wires":[]},{"id":"fcebfffa.7aa9d","type":"cloudant out","z":"986d1397.67079","name":"Store in CloudantDB","cloudant":"","database":"sensor-data","service":"WatsonIot-TJBot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":375.4000549316406,"y":152.36669921875,"wires":[]},{"id":"346467e4.21e428","type":"function","z":"986d1397.67079","name":"Environment","func":"msg.save = msg.payload.d;\n\nmsg.temperature = msg.payload.d.temperature;\nmsg.humidity = msg.payload.d.humidity;\nmsg.pressure = msg.payload.d.pressure;\n\nvar msg1 = {payload:msg.payload.d.temperature};\nvar msg2 = {payload:msg.payload.d.humidity};\nvar msg3 = {payload:msg.payload.d.pressure};\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":510.50001525878906,"y":308.00001525878906,"wires":[["93f3a579.bc0828"],[],[]]},{"id":"e0567036.0c1ea","type":"debug","z":"986d1397.67079","name":"","active":true,"console":"false","complete":"false","x":531.0000610351562,"y":442.0000305175781,"wires":[]},{"id":"93f3a579.bc0828","type":"rbe","z":"986d1397.67079","name":"Block 2% change ","func":"deadband","gap":"2%","start":"","inout":"in","x":735.2333984375,"y":268.433349609375,"wires":[["8ea0f5e2.af80d8"]]},{"id":"8ea0f5e2.af80d8","type":"switch","z":"986d1397.67079","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":930.5,"y":268,"wires":[["6e9f81a2.44c58"],["6be65082.650fb"]]},{"id":"6e9f81a2.44c58","type":"template","z":"986d1397.67079","name":"safe","field":"text","fieldType":"msg","syntax":"mustache","template":"Temp ({{payload}}) is ok","x":1091.5,"y":231,"wires":[["14c839a2.dac886"]]},{"id":"6be65082.650fb","type":"template","z":"986d1397.67079","name":"danger","field":"text","fieldType":"msg","syntax":"mustache","template":"Temp ({{payload}}) is critical","x":1093.5,"y":300,"wires":[["c401b5af.545f58"]]},{"id":"14c839a2.dac886","type":"change","z":"986d1397.67079","name":"Set RGB","rules":[{"t":"set","p":"red","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"green","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"blue","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1247.7333984375,"y":230.76669311523438,"wires":[["8c60cc0c.a6161"]]},{"id":"c401b5af.545f58","type":"change","z":"986d1397.67079","name":"Set RGB","rules":[{"t":"set","p":"red","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"green","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"blue","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1248.63330078125,"y":300.36669921875,"wires":[["8c60cc0c.a6161"]]},{"id":"8c60cc0c.a6161","type":"function","z":"986d1397.67079","name":"Set LCD","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"tjbot-oh\",\n        \"cmd\" : \"temperature\",\n        \"text\" : msg.text,\n        \"rgb\" : [msg.red, msg.green, msg.blue]\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":1419.7333984375,"y":259.03338623046875,"wires":[["3ae5da63.4f9986","41264dcb.a857e4"]]},{"id":"3ae5da63.4f9986","type":"debug","z":"986d1397.67079","name":"LCD Command","active":false,"console":"false","complete":"payload","x":1601.5,"y":214,"wires":[]},{"id":"41264dcb.a857e4","type":"ibmiot out","z":"986d1397.67079","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"set-lcd","format":"json","data":"payload","qos":"","name":"Set Lcd","service":"registered","x":1576.7333984375,"y":288.36669921875,"wires":[]},{"id":"ef2b64a9.b7d858","type":"websocket-listener","z":"986d1397.67079","path":"/ws/grovepi1","wholemsg":"false"}]