Flows/Bluemix-SenseHAT/Tab2-WebGet.json
[{"id":"6ef47135.9154b","type":"comment","z":"3ff4d01a.7e0a6","name":"WebGet von Dashboard für TJBot-OH","info":"","x":176,"y":42,"wires":[]},{"id":"33df8075.490ed","type":"http in","z":"3ff4d01a.7e0a6","name":"Get Speak","url":"/grovepi1-speak","method":"put","swaggerDoc":"","x":82,"y":367.93328857421875,"wires":[["41172fb9.d1b03","fb5593b2.328aa"]]},{"id":"41172fb9.d1b03","type":"function","z":"3ff4d01a.7e0a6","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"speak\" : msg.payload.message,\n        \"srclang\" : msg.payload.srclang,\n        \"destlang\" : msg.payload.destlang,\n        \"sentiment\" : 0,\n        \"voice\" : msg.payload.voice,\n        \"lightr\" : \"000\",\n        \"lightg\" : \"000\",\n        \"lightb\" : \"000\"\n    }\n}\n\nmsg.payload = msg.payload.message;\nmsg.devEvent = devEvent;\n\nreturn msg;","outputs":"1","noerr":0,"x":310,"y":405.93328857421875,"wires":[["7cbb121f.12dfcc"]]},{"id":"7cbb121f.12dfcc","type":"sentiment","z":"3ff4d01a.7e0a6","name":"sentiment","x":496,"y":405.43328857421875,"wires":[["70144ba7.e26604","37a12414.67f6dc","bf44c7dd.575118"]]},{"id":"70144ba7.e26604","type":"function","z":"3ff4d01a.7e0a6","name":"set score","func":"msg.payload = msg.payload + \";\" + msg.sentiment.score;\n\nreturn msg;","outputs":1,"noerr":0,"x":679.0000305175781,"y":404.93328857421875,"wires":[["a4199761.20c748"]]},{"id":"a4199761.20c748","type":"http response","z":"3ff4d01a.7e0a6","name":"response","x":857.0000305175781,"y":405.43328857421875,"wires":[]},{"id":"284fbea5.280992","type":"ibmiot out","z":"3ff4d01a.7e0a6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"speak","format":"json","data":"payload","qos":"","name":"IBM IoT Speak","service":"registered","x":877.0000305175781,"y":506.43328857421875,"wires":[]},{"id":"fb5593b2.328aa","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"payload","x":313,"y":328.43328857421875,"wires":[]},{"id":"bf44c7dd.575118","type":"function","z":"3ff4d01a.7e0a6","name":"set speak","func":"msg.devEvent.d.sentiment=msg.sentiment.score;\n\nif (msg.sentiment.score > 0 ) {\n    msg.devEvent.d.lightg = \"255\";\n} else if (msg.sentiment.score === 0) {\n    msg.devEvent.d.lightb = \"255\";\n} else {\n    msg.devEvent.d.lightr = \"255\";\n}\n\nmsg.payload = JSON.stringify(msg.devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":683.0000305175781,"y":506.93328857421875,"wires":[["284fbea5.280992","2bd98c9f.257164"]]},{"id":"37a12414.67f6dc","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":false,"console":"false","complete":"true","x":673,"y":346.43328857421875,"wires":[]},{"id":"2bd98c9f.257164","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"devEvent","x":876.0000305175781,"y":450.43328857421875,"wires":[]},{"id":"39626c93.df1794","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":false,"console":"false","complete":"false","x":301.6166687011719,"y":604.6832885742188,"wires":[]},{"id":"c5422774.47e638","type":"function","z":"3ff4d01a.7e0a6","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"file\" : msg.payload.file\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":307.6166687011719,"y":690.4332885742188,"wires":[["eacfb9b4.0281c8","54615c1d.8bd5f4","67b73a62.a0a4e4"]]},{"id":"eacfb9b4.0281c8","type":"ibmiot out","z":"3ff4d01a.7e0a6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"play","format":"json","data":"payload","qos":"","name":"IBM IoT Play","service":"registered","x":520.75,"y":691.1832885742188,"wires":[]},{"id":"7088451e.ff4bcc","type":"http in","z":"3ff4d01a.7e0a6","name":"Get Sound","url":"/grovepi1-sound","method":"put","swaggerDoc":"","x":81.61666870117188,"y":650.4332885742188,"wires":[["39626c93.df1794","c5422774.47e638"]]},{"id":"54615c1d.8bd5f4","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":530.61669921875,"y":627.6832885742188,"wires":[]},{"id":"900a7a49.b3df78","type":"http response","z":"3ff4d01a.7e0a6","name":"response","x":688.61669921875,"y":741.6832885742188,"wires":[]},{"id":"67b73a62.a0a4e4","type":"function","z":"3ff4d01a.7e0a6","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":512.61669921875,"y":741.4332885742188,"wires":[["900a7a49.b3df78"]]},{"id":"2b51ed27.fb72d2","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":false,"console":"false","complete":"false","x":290,"y":842.9333190917969,"wires":[]},{"id":"effbc858.cd2048","type":"function","z":"3ff4d01a.7e0a6","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"text\" : \"Emotional Color Set\",\n        \"lightr\" : msg.payload.lightr,\n        \"lightg\" : msg.payload.lightg,\n        \"lightb\" : msg.payload.lightb\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":928.6833190917969,"wires":[["ce20b3af.1a81f","cc4a5f4.c0ad0a","63e04723.0f4048"]]},{"id":"ce20b3af.1a81f","type":"ibmiot out","z":"3ff4d01a.7e0a6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"set-light","format":"json","data":"payload","qos":"","name":"IBM IoT SetLight","service":"registered","x":519.1333312988281,"y":929.4333190917969,"wires":[]},{"id":"d35e1deb.f0a72","type":"http in","z":"3ff4d01a.7e0a6","name":"Get Light","url":"/grovepi1-light","method":"put","swaggerDoc":"","x":80.86666870117188,"y":891.4333190917969,"wires":[["2b51ed27.fb72d2","effbc858.cd2048"]]},{"id":"cc4a5f4.c0ad0a","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"payload","x":498.86669921875,"y":874.6833190917969,"wires":[]},{"id":"1ebdea3b.089ea6","type":"http response","z":"3ff4d01a.7e0a6","name":"response","x":673,"y":989.1833190917969,"wires":[]},{"id":"63e04723.0f4048","type":"function","z":"3ff4d01a.7e0a6","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":988.9333190917969,"wires":[["1ebdea3b.089ea6"]]},{"id":"f312413a.7cba4","type":"http in","z":"3ff4d01a.7e0a6","name":"Get Led","url":"/grovepi1-led","method":"put","swaggerDoc":"","x":73.98330688476562,"y":156.13327026367188,"wires":[["4e2a78d2.0ee408","48a3441e.a741fc"]]},{"id":"4e2a78d2.0ee408","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":275.9833068847656,"y":114,"wires":[]},{"id":"48a3441e.a741fc","type":"function","z":"3ff4d01a.7e0a6","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"led\" : msg.payload.led,\n        \"toggle\" : false,\n        \"status\": msg.payload.stat\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":452.9833068847656,"y":159.39996337890625,"wires":[["9b071fbf.1285b","a5521465.f4c1e8","8539b505.025238"]]},{"id":"9b071fbf.1285b","type":"ibmiot out","z":"3ff4d01a.7e0a6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"set-led","format":"json","data":"payload","qos":"","name":"IBM IoT SetLed","service":"registered","x":680.9833374023438,"y":158.86663818359375,"wires":[]},{"id":"a5521465.f4c1e8","type":"function","z":"3ff4d01a.7e0a6","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":662.1499633789062,"y":210.80001831054688,"wires":[["ed1c7e19.0515f"]]},{"id":"8539b505.025238","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":670.9833374023438,"y":110.20001220703125,"wires":[]},{"id":"ed1c7e19.0515f","type":"http response","z":"3ff4d01a.7e0a6","name":"response","x":849.9833679199219,"y":210.86666870117188,"wires":[]},{"id":"cebc1ceb.ffcb3","type":"http in","z":"3ff4d01a.7e0a6","name":"Get Buzzer","url":"/grovepi1-buzzer","method":"put","swaggerDoc":"","x":85.14999389648438,"y":1142.8000183105469,"wires":[["7ca35abd.7c3c54","5e7a2ea2.506f7"]]},{"id":"7ca35abd.7c3c54","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":false,"console":"false","complete":"false","x":277.1499938964844,"y":1100.666748046875,"wires":[]},{"id":"5e7a2ea2.506f7","type":"function","z":"3ff4d01a.7e0a6","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"status\" : msg.payload.stat,\n        \"tone\": msg.payload.tone\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":278.1499938964844,"y":1170.0667114257812,"wires":[["2d2d641.ef4399c","d7321d8b.ffd03","41b565cc.c1426c"]]},{"id":"2d2d641.ef4399c","type":"ibmiot out","z":"3ff4d01a.7e0a6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"set-buzzer","format":"json","data":"payload","qos":"","name":"IBM IoT SetBuzzer","service":"registered","x":516.1500244140625,"y":1169.5333862304688,"wires":[]},{"id":"d7321d8b.ffd03","type":"function","z":"3ff4d01a.7e0a6","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":487.316650390625,"y":1221.4667663574219,"wires":[["731869f2.84f008"]]},{"id":"41b565cc.c1426c","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":496.1500244140625,"y":1120.8667602539062,"wires":[]},{"id":"731869f2.84f008","type":"http response","z":"3ff4d01a.7e0a6","name":"response","x":675.1500549316406,"y":1221.5334167480469,"wires":[]},{"id":"a246c0df.00591","type":"http in","z":"3ff4d01a.7e0a6","name":"Get Image","url":"/grovepi1-getimage","method":"put","swaggerDoc":"","x":87.63333129882812,"y":1384.5666198730469,"wires":[["58c95baf.d64594","f26e16a6.936798"]]},{"id":"58c95baf.d64594","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":279.6333312988281,"y":1342.433349609375,"wires":[]},{"id":"f26e16a6.936798","type":"function","z":"3ff4d01a.7e0a6","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"cmd\": msg.payload.cmd\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":406.6333312988281,"y":1385.8333740234375,"wires":[["b15ad3f4.aab0d","97771bd2.5ab158","31ac859e.8a44ba"]]},{"id":"b15ad3f4.aab0d","type":"ibmiot out","z":"3ff4d01a.7e0a6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"get-image","format":"json","data":"payload","qos":"","name":"IBM IoT GetImage","service":"registered","x":644.6333618164062,"y":1385.300048828125,"wires":[]},{"id":"97771bd2.5ab158","type":"function","z":"3ff4d01a.7e0a6","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":615.7999877929688,"y":1437.2334289550781,"wires":[["fcca22bc.46ef9"]]},{"id":"31ac859e.8a44ba","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":624.6333618164062,"y":1336.6334228515625,"wires":[]},{"id":"fcca22bc.46ef9","type":"http response","z":"3ff4d01a.7e0a6","name":"response","x":803.6333923339844,"y":1437.3000793457031,"wires":[]},{"id":"b7a7d62e.590cd8","type":"http in","z":"3ff4d01a.7e0a6","name":"Get Text","url":"/grovepi1-gettext","method":"put","swaggerDoc":"","x":94.63333129882812,"y":1630.5666198730469,"wires":[["c2e28404.ca7ad8","ecb7be4.9225a4"]]},{"id":"c2e28404.ca7ad8","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":false,"console":"false","complete":"false","x":286.6333312988281,"y":1588.433349609375,"wires":[]},{"id":"ecb7be4.9225a4","type":"function","z":"3ff4d01a.7e0a6","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"cmd\": msg.payload.cmd\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":403.6333312988281,"y":1631.8333740234375,"wires":[["ae946cb5.1de54","9f47bdff.177e","20e1c2ad.6f4bbe"]]},{"id":"ae946cb5.1de54","type":"ibmiot out","z":"3ff4d01a.7e0a6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"get-text","format":"json","data":"payload","qos":"","name":"IBM IoT GetText","service":"registered","x":631.6333618164062,"y":1631.300048828125,"wires":[]},{"id":"9f47bdff.177e","type":"function","z":"3ff4d01a.7e0a6","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":612.7999877929688,"y":1683.2334289550781,"wires":[["abe43631.995468"]]},{"id":"20e1c2ad.6f4bbe","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":621.6333618164062,"y":1582.6334228515625,"wires":[]},{"id":"abe43631.995468","type":"http response","z":"3ff4d01a.7e0a6","name":"response","x":800.6333923339844,"y":1683.3000793457031,"wires":[]},{"id":"d4988862.e4dce8","type":"inject","z":"3ff4d01a.7e0a6","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":91,"y":233,"wires":[["cf070cb3.22bdb"]]},{"id":"8079df58.4b202","type":"inject","z":"3ff4d01a.7e0a6","name":"Start","topic":"","payload":"This is a very cool test","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":476,"wires":[["54d44949.b4a3b8"]]},{"id":"54d44949.b4a3b8","type":"function","z":"3ff4d01a.7e0a6","name":"Set Default","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"speak\" : msg.payload,\n        \"srclang\" : \"en\",\n        \"destlang\" : \"de\",\n        \"sentiment\" : 0,\n        \"voice\" : \"de-DE_DieterVoice\",\n        // \"voice\" : \"en-GB_KateVoice\",\n        \"lightr\" : \"000\",\n        \"lightg\" : \"000\",\n        \"lightb\" : \"000\"\n    }\n}\n\nmsg.devEvent = devEvent;\n\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":476,"wires":[["7cbb121f.12dfcc"]]},{"id":"aa151ce2.b561e","type":"inject","z":"3ff4d01a.7e0a6","name":"Start","topic":"","payload":"take-photo","payloadType":"str","repeat":"","crontab":"","once":false,"x":99,"y":1451,"wires":[["91015039.20d3f"]]},{"id":"cf070cb3.22bdb","type":"change","z":"3ff4d01a.7e0a6","name":"Set ","rules":[{"t":"set","p":"payload.led","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload.stat","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":232,"y":233,"wires":[["48a3441e.a741fc"]]},{"id":"91015039.20d3f","type":"change","z":"3ff4d01a.7e0a6","name":"Set ","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"take-photo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":1451,"wires":[["f26e16a6.936798"]]},{"id":"d9448c4c.22805","type":"inject","z":"3ff4d01a.7e0a6","name":"Start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":91,"y":1684,"wires":[["7f4e19e2.a2cb18"]]},{"id":"7f4e19e2.a2cb18","type":"change","z":"3ff4d01a.7e0a6","name":"Set ","rules":[{"t":"set","p":"payload.cmd","pt":"msg","to":"take-photo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":238,"y":1684,"wires":[["ecb7be4.9225a4"]]},{"id":"5e9f500b.e8df3","type":"http in","z":"3ff4d01a.7e0a6","name":"Get Weather","url":"/grovepi1-getweather","method":"put","swaggerDoc":"","x":91,"y":1917,"wires":[["90e41c15.2b04d","99d734f1.628678"]]},{"id":"90e41c15.2b04d","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":290,"y":1849.86669921875,"wires":[]},{"id":"99d734f1.628678","type":"function","z":"3ff4d01a.7e0a6","name":"Set Weathercall","func":"msg.websave = msg.payload;\nmsg.service = msg.websave.service;\nmsg.language = msg.websave.language;\nmsg.payload = msg.websave.latitude + \",\" + msg.websave.longitude;\n\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":1917,"wires":[["dffd6dea.989ba"]]},{"id":"dffd6dea.989ba","type":"weather_insights","z":"3ff4d01a.7e0a6","name":"Get Weather","service":"/forecast/daily/10day.json","geocode":"","units":"m","language":"","x":492,"y":1917,"wires":[["a6ae9647.d7c6e8","9999b3b4.46fe6","241f1c9a.884b04","73080fb.9ed97f"]]},{"id":"abfe1b2f.798938","type":"inject","z":"3ff4d01a.7e0a6","name":"Wetteransage","topic":"","payload":"{\"location\": \"Wien\", \"latitude\": \"48.213491\", \"longitude\": \"16.376849\", \"service\": \"current\", \"language\": \"de-DE\"}","payloadType":"json","repeat":"","crontab":"0 7-18 * * *","once":false,"x":108,"y":2025,"wires":[["99d734f1.628678"]]},{"id":"a6ae9647.d7c6e8","type":"debug","z":"3ff4d01a.7e0a6","name":"forecasts","active":false,"console":"false","complete":"forecasts","x":695,"y":1774,"wires":[]},{"id":"9999b3b4.46fe6","type":"debug","z":"3ff4d01a.7e0a6","name":"observation","active":false,"console":"false","complete":"observation","x":702,"y":1816,"wires":[]},{"id":"241f1c9a.884b04","type":"debug","z":"3ff4d01a.7e0a6","name":"observations","active":false,"console":"false","complete":"observations","x":700,"y":1859,"wires":[]},{"id":"73080fb.9ed97f","type":"function","z":"3ff4d01a.7e0a6","name":"set message","func":"var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-1\",\n        \"location\": msg.websave.location,\n        \"latitude\" : msg.websave.latitude,\n        \"longitude\" : msg.websave.longitude,\n        \"service\" : msg.websave.service, \n        \"language\" : msg.websave.language,\n        \"forecasts\" : msg.forecasts,\n        \"observation\" : msg.observation,\n        \"observations\" : msg.observations\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":1916.2666015625,"wires":[["1a050972.39f6d7","5562597f.c79458","ca71b6d5.512f28"]]},{"id":"1a050972.39f6d7","type":"ibmiot out","z":"3ff4d01a.7e0a6","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot-oh","deviceType":"tjbot","eventCommandType":"get-weather","format":"json","data":"payload","qos":"","name":"IBM IoT GetWeather","service":"registered","x":943.0000610351562,"y":1916.7332763671875,"wires":[]},{"id":"5562597f.c79458","type":"function","z":"3ff4d01a.7e0a6","name":"Set Ret","func":"msg.payload = \"okay\";\n\nreturn msg;","outputs":1,"noerr":0,"x":899.1666564941406,"y":1974.6666259765625,"wires":[["adeafc64.7bc82"]]},{"id":"ca71b6d5.512f28","type":"debug","z":"3ff4d01a.7e0a6","name":"","active":true,"console":"false","complete":"false","x":932.0000610351562,"y":1836.066650390625,"wires":[]},{"id":"adeafc64.7bc82","type":"http response","z":"3ff4d01a.7e0a6","name":"response","x":1087.0000610351562,"y":1974.7332763671875,"wires":[]}]